{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="about-us">
	<div class="info-1">
		<div style="background-image:url('{% static 'app/img/campesinos.jpg' %}')">
<!-- 			<img src="{% static 'app/img/banners.jpg' %}" alt="">-->
		</div>
		<div>
			<h3>Misión</h3>
			<p>
				La misión de nuestro proyecto es contribuir al esfuerzo que desde diferentes  espacios se da a orientar y enfrentar el posconflicto empleando las tecnologías de la información y la comunicación como fuente mediadora.
			</p>
		</div>
	</div>
	<div class="container-items-about-us">
		<div class="item-about-us">
			<div>
				<img src="{% static 'app/img/banner.jpg' %}" alt="">
			</div>
			<div>
				<h4>¿QUE HACEMOS?</h4>
				<p>Proponemos el compartir de experiencias del conflicto a través escenarios digitales colaborativos.</p>
				<p>Difundimos y comunicamos practicas restaurativas para asumir el posconflicto.</p>
				<p>Aportamos conocimientos y actitudes acerca de cómo enfrentar el postconflicto en Colombia a partir de las experiencias vividas en Encimadas y Samaná Caldas.</p>
				<p>Propiciamos la participación de la población en posconflicto en escenario digital colaborativo.</p>
			</div>
		</div>
		<div class="item-about-us">
			<div>
				<img src="{% static 'app/img/banner.jpg' %}" alt="">
			</div>
			<div>
				<h4>ASPECTOS POSITIVOS DEL PROYECTO</h4>
				<p>Resaltar la capacidad de resiliencia que ha tenido la comunidad de Encimadas en Samaná caldas para sobreponerse a una serie de adversidades que llegaron junto con el conflicto armado en la región.</p>
				<P>Participación activa de los integrantes de comunidad de encimadas en los escenarios digitales colaborativos.</P>
				<P>Mostramos experiencias y vivencias de superación del conflicto, para ser tomadas como puntos de referencia en el posconflicto.</P>
				<p>Aprovechar la experiencia de la guerra para enfrentar la incertidumbre hacia la paz.</p>
				<p>Hacer un reconocimiento a la comunidad de Encimadas por su entrega a la reconstrucción de sus familias y la comunidad.</p>
			</div>
		</div>
		<div class="item-about-us">
			<div>
				<img src="{% static 'app/img/banner.jpg' %}" alt="">
			</div>
			<div>
				<h4>LOS PROBLEMAS QUE RESOLVEMOS</h4>
				<p>Escuchar las familias victimas del conflicto siendo estas las protagonistas de su propia verdad.</p>
				<p>Desarrollar a través de metodologías practicas la atención a problemas a nivel local que dejo el conflicto.</p>
				<p>Construcción de una caja de herramientas para contribuir al análisis e intervención de problemas colectivos y convivencia ciudadana en escenarios posconflicto.</p>
				<p>Incorporamos las tic en escenarios posconflicto para fortalecer el trabajo colaborativo, el intercambio de experiencias y las fuentes de consulta.</p>
				<p>Conocimiento empírico sobre problemáticas sociales complejas que dejo el conflicto.</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}