{% load static %}

<!DOCTYPE html>
<html lang="es" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ConviveTIC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/tether/dist/css/tether.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/toastr/toastr.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
</head>
<body ng-app='conviveticApp' ng-cloak>
	
	<header ng-controller="homeController as hCtrl">

		<div class="nav-c">
			<nav class="nav">
			  <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
			  <a class="nav-link" href="{% url 'forums' %}">Foros</a>
			  <a class="nav-link" href="{% url 'experiences' %}">Experiencias</a>
			  <a class="nav-link" href="#">Quiénes Somos</a>
			  <a class="nav-link" href="#">Contacto</a>
		  		{% if request.user.is_authenticated %}
		  			<a class="nav-link" href="{% url 'logout' %}">
		  				{{ request.user.username }}
		  			</a>
			  	{% else %}
			  		<a class="nav-link" href="{% url 'login' %}">
			  			Iniciar sesión
			  		</a>
			  	{% endif %}
			  </a>
			</nav>
			<div class="nav-mobile" ng-class="{'active' : hCtrl.mMenuIsActive == true}">
				<button ng-click="hCtrl.getMobileMenu()"><i class="fa fa-bars"></i></button>
				<ul class="menu-list">
					<li>Quiénes Somos</li>
					<li>Foros</li>
					<li>Experiencias</li>
					<li>Ingreso</li>
					<li>Contacto</li>
				</ul>
			</div>
		</div>

		<div class="subheader">
			<div class="subheader-c">
				<div class="sub-content">
					<h4>ConviveTIC Muestra <span class=>Experiencias</span> del conflicto armado</h4>

					<div class="search-box rounded">
						<form>
							<i class="fas fa-search"></i>
							<input class="input-box" type="text" placeholder="Busca experiencias y foros del conflicto armado en Colombia">	
						</form>
					</div>


				</div>
			</div>
		</div>

		

		<div class="secondary-nav">

			<div class="sec-nav-c">
				<ul>
					<li class="active"><a href="{% url 'profile' %}">Perfil</a></li>
					<li class="medium-li"><a href="{% url 'my-forums' %}">Mis foros</a></li>
					<li class="large-li"><a href="{% url 'my-experiences' %}">Mis experiencias</a></li>
					<li class="large-li"><a href="{% url 'my-comments' %}">Mis comentarios</a></li>
					<li><a href="">Caja</a></li>
				</ul>				
			</div>
		</div>
		<!--{% if request.user.is_authenticated %} -->

		<!--{% endif %} -->

	</header>

	{% block content %} {% endblock %}
	
	<footer class="con-footer-pinfo">
		<div class="gallery-container">
			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

		</div>


	</footer>
	<footer class="con-footer-secondary"></footer>
	

	<script type="text/javascript" src="{% static 'app/libs/jquery/dist/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/tether/dist/js/tether.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/popper.js/dist/umd/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-animate/angular-animate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-messages/angular-messages.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/toastr/toastr.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'app/logic/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/controllers/signupCtrl.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/controllers/homeCtrl.js' %}"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	
  	{% block scripts %} {% endblock %}	

</body>
</html>