{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ConviveTIC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/dist/css/tether.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
</head>
<body>
	
	<header>

		<div class="nav-c">
			<nav class="nav">
			  <a class="nav-link active" href="#">Quiénes Somos</a>
			  <a class="nav-link" href="#">Foros</a>
			  <a class="nav-link" href="#">Experiencias</a>
			  <a class="nav-link" href="#">Ingreso</a>
			  <a class="nav-link" href="#">Contacto</a>
		  		{% if request.user.is_authenticated %}
		  			<a class="nav-link" href="{% url 'logout' %}">
		  				{{ request.user.username }}
		  			</a>
			  	{% else %}
			  		<a class="nav-link" href="{% url 'login' %}">
			  			Iniciar sesión
			  		</a>
			  	{% endif %}
			  </a>
			</nav>
			<div class="nav-mobile">
				<button class=""><i class="fa fa-bars"></i></button>
				<ul>
					<li>Quiénes Somos</li>
					<li>Foros</li>
					<li>Experiencias</li>
					<li>Ingreso</li>
					<li>Contacto</li>
				</ul>
			</div>
		</div>

		<div class="subheader">
			<div class="subheader-c">
				<div class="sub-content">
					<h4>ConviveTIC Muestra <span class=>Experiencias</span> del conflicto armado</h4>

					<div class="search-box rounded">
						<form>
							<i class="fas fa-search"></i>
							<input class="input-box" type="text" placeholder="Busca experiencias y foros del conflicto armado en Colombia">	
						</form>
					</div>


				</div>
			</div>
		</div>
	</header>

	<br>
	{% block content %} {% endblock %}
	
	<footer class="con-footer-pinfo">
		<div class="gallery-container">
			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

			<figure class="imghvr-flip-vert">
			  <img src="http://via.placeholder.com/300x250">
			  <figcaption>
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et.
			    
			  </figcaption>
			</figure>

		</div>


	</footer>
	<footer class="con-footer-secondary"></footer>
	
	{% block scripts %} 

		<script type="text/javascript" src="{% static 'app/libs/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'app/libs/tether/dist/js/tether.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'app/libs/popper.js/dist/umd/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'app/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'app/libs/angular/angular.min.js' %}"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  
	{% endblock %}	

</body>
</html>