{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="guides-container">
	<div class="my-exp-wrapper" ng-controller="toolboxesListController as tlCtrl">

		<h3>Cajas de herramientas</h3>
		<hr>

		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link" ng-class="{ 'active' : tlCtrl.current_tab == tlCtrl.PENDING_TAB }" href="javascript:void(0)" ng-click="tlCtrl.switchTab(tlCtrl.PENDING_TAB)" >Por resolver</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" ng-class="{ 'active' : tlCtrl.current_tab == tlCtrl.COMMENTED_TAB }" ng-click="tlCtrl.switchTab(tlCtrl.COMMENTED_TAB)" href="javascript:void(0)">Resueltas</a>
		  </li>
		 </ul>

		 <div class="mtb-content row">

		 	

		 </div>


		{% if unsolved %}

			<div class="mtb-content row" ng-show="tlCtrl.current_tab == tlCtrl.PENDING_TAB">

			{% for toolbox in unsolved %}

		 		<div class="mtb-item col-xs-12 col-sm-6 col-md-4">
			 		<a class="mtb-item-content rounded" href="{% url 'guides' toolbox.guide_n %}">
			 			<p class="mtb-user text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et massa lectus. Vivamus tortor urna, gravida quis nunc at, imperdiet dapibus sapien. Quisque id ex quis leo pretium varius sed ut lacus.</p>
				 		<h4 class="mtb-title text-center">{{toolbox.name}}</h4>			 	
			 		</a>
			 	</div>

			{% endfor %}

			</div>

		{% else %}

			<div class="text-center" ng-show="tlCtrl.current_tab == tlCtrl.PENDING_TAB">
			<br>
			<h3>Has resuelto todas las cajas de herramientas.</h3>
			</div>

		{% endif %}

		{% if solved %}

			<div class="mtb-content row" ng-show="tlCtrl.current_tab == tlCtrl.COMMENTED_TAB">

			{% for toolbox in solved %}

		 		<div class="mtb-item col-xs-12 col-sm-6 col-md-4">
			 		<a class="mtb-item-content rounded" href="{% url 'view_toolbox_comment' toolbox.id %}">
			 			<p class="mtb-user text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et massa lectus. Vivamus tortor urna, gravida quis nunc at, imperdiet dapibus sapien. Quisque id ex quis leo pretium varius sed ut lacus.</p>
				 		<h4 class="mtb-title text-center">{{toolbox.name}}</h4>			 	
			 		</a>
			 	</div>

			{% endfor %}

			</div>

		{% else %}

			<div class="text-center" ng-show="tlCtrl.current_tab == tlCtrl.COMMENTED_TAB">
			<br>
			<h3>No has resuelto ninguna caja de herramientas</h3>
			</div>

		{% endif %}

	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'app/logic/controllers/toolboxesListController.js' %}"></script>

{% endblock %}