{% extends 'app/base.html' %}
{% load static %}

{% block content %}

	<div class="guides-container">

		<div class="guides-wrapper">	

			<div class="guide rounded">
				<h5>Con tolerancia construimos Paz</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt minus quam eos, minima cum iusto, saepe voluptate consequatur!</p>
				<button class="btn btn-primary" onclick="location.href='/guide_general/1'">Iniciar</button>
			</div>

			<div class="guide rounded second-g">
				<h5>A convivir en paz</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt minus quam eos, minima cum iusto, saepe voluptate consequatur! </p>
				<button class="btn btn-primary">Iniciar</button>
			</div>

			<div class="guide rounded last-g">
				<h5>La reconciliación hace parte de la paz</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt minus quam eos, minima cum iusto, saepe voluptate consequatur! </p>
				<button class="btn btn-primary">Iniciar</button>
			</div>

		</div>
	</div>

{% endblock %}
