{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="gral-d-container">
	<div class="document-container">
		<div class="document-item">
			<div>
				<h4>Memoria Histórica Digital del Postconflicto en Caldas</h4>
				<p>A partir de la opción de proyecto MEMORIA HISTORICA DIGITAL DEL POSCONFLICTO EN CALDAS, con el cual se quería participar en la CONVOCATORIA CONJUNTA PARA EL FOMENTO DE LA INVESTIGACION	EN CIENCIAS SOCIALES, ARTES Y HUMANIDADES, se investigó un poco sobre los escenarios de conflicto y posconflicto en nuestro País.</p>
			</div>
			<div>
				<a href="https://drive.google.com/open?id=1S8jhkzS83Erav7LD3eHjvJ0LAeFRD-dE"><i class="fas fa-file-pdf fa-3x"></i></a>
			</div>
		</div>	
		<div class="document-item">
			<div>
				<h4>Posconflicto en Colombia: un análisis del homicidio después del proceso de desmovilización de los grupos de autodefensa*</h4>
				<p>En este trabajo se analiza el comportamiento del homicidio en Colombia durante el período 2003-2006, en el que se llevó a cabo el proceso de desmovilización de los grupos de autodefensas, y que trajo como consecuencia una etapa de posconflicto para el país. A la luz de este tema, se exponen las experiencias de países que también han vivido escenarios de posconflicto, como Guatemala, El Salvador e Irlanda del Norte.</p>
			</div>
			<div>
				<a href="https://drive.google.com/open?id=1WDjT6BIBeHNyyKcLLVuXbu2UH33f-ljI"><i class="fas fa-file-pdf fa-3x"></i></a>
			</div>
		</div>
		<div class="document-item">
			<div>
				<h4>RECORDAR Y NARRAR EL CONFLICTO Herramientas para reconstruir memoria histórica</h4>
				<p>Este proyecto es el resultado de la colaboración entre el Grupo de Memoria Histórica del Centro Nacional de Memoria Histórica de Colombia y la University of British Columbia.</p>
			</div>
			<div>
				<a href="https://drive.google.com/open?id=154NsjhBdDxe-vpzh0uclJmICd4_11W7s"><i class="fas fa-file-pdf fa-3x"></i></a>
			</div>
		</div>
		<div class="document-item">
			<div>
				<h4>Antropología del recuerdo y el olvido</h4>
				<p>Jóvenes, memoria y violencia en Medellín</p>
			</div>
			<div>
				<a href="https://drive.google.com/open?id=16zb04j029ixDmRb7FcfGhvsXouLHAyY9"><i class="fas fa-file-pdf fa-3x"></i></a>
			</div>
		</div>
		<div class="document-item">
			<div>
				<h4>INFORME DE SEGUIMIENTO A LA DESMOVILIZACIÓN COLECTIVA Y PROCESO DE REINCORPORACION DE MIEMBROS DE LAS AUTODEFENSAS UNIDAS DE COLOMBIA</h4>
				<p>En este informe, la Defensoría del Pueblo se refiere a los procedimientos de desmovilización colectiva para la reincorporación a la vida civil realizados en el marco de los acuerdos entre el Gobierno nacional y las Autodefensas Unidas de Colombia,</p>
			</div>
			<div>
				<a href="https://drive.google.com/open?id=1Xncv_GthSpL48AJB12pc6-5x2stk13IZ"><i class="fas fa-file-pdf fa-3x"></i></a>
			</div>
		</div>
	</div>	
</div>


{% endblock %}

{% block scripts %}
{% endblock %} 

