{% extends 'app/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}

<div ng-controller="experienceDetailCtrl as expCtrl"  ng-init="expCtrl.init({{object.id}}, {{object.experienceslike_set.count}},{{object.experiencesdislike_set.count}},{{object.views}})">

	<div class="exp-d-c">
		<div id="fb-root"></div>
		
		{% if messages %}
		    {% for message in messages %}
		    	{% if message.tags == 'success' %}
		    <p style="display:none" ng-init="expCtrl.successToast('{{ message }}')">{{ message }}</p>
		    	{% endif %}
		    	{% if message.tags == 'error' %}
		    <p style="display:none" ng-init="expCtrl.warningToast('{{ message }}')">{{ message }}</p>
		    	{% endif %}
		    {% endfor %}
		{% endif %}

		<div class="exp-d-wrapper">
			<div class="d-left-c">
				
				<div class="d-header">
					<div class="p-info">
						<h4>{{object.title}}</h4>					
						<p>
							{% if request.user.is_authenticated and request.user == object.author %}
								<span>{{object.author.get_full_name}} (Tú)</span> 
							{% else %}
								<span>{{object.author.get_full_name}}</span> 
							{% endif %}
						</p>	
					</div>
					
				</div>

				<div class="tags">
					<ul>
						{% for tag in object.tags.all %}

						<li class="rounded">{{tag.name}}</li>
						
						{% endfor %}
						

					</ul>
<div class="exp-d-c" ng-controller="experienceDetailCtrl as expCtrl"  ng-init="expCtrl.init({{object.id}}, {{object.experienceslike_set.count}},{{object.experiencesdislike_set.count}},{{object.views}},'{% url 'experiences' %}')">
	
	{% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == 'success' %}
	    <p style="display:none" ng-init="expCtrl.successToast('{{ message }}')">{{ message }}</p>
	    	{% endif %}
	    	{% if message.tags == 'error' %}
	    <p style="display:none" ng-init="expCtrl.warningToast('{{ message }}')">{{ message }}</p>
	    	{% endif %}
	    {% endfor %}
	{% endif %}

	<div class="exp-d-wrapper">
		<div class="d-left-c">
			
			<div class="d-header">
				<div class="p-info">
					<h4>{{object.title}}</h4>					
					<p>
						{% if request.user.is_authenticated and request.user == object.author %}
							<span>{{object.author.get_full_name}} (Tú)</span> 
						{% else %}
							<span>{{object.author.get_full_name}}</span> 
						{% endif %}
					</p>
					<p>Publicado el {{ object.pub_date }}</p>
				</div>

				{% if request.user|has_group:"Administrador" %}			
					<hr>
					<div class="ex-status">

						<h4>{{ object.get_status_display }}</h4>
					<!--<li class="rounded" ng-class="'{{object.status}}' == 'P' ? 'bg-warning' : '{{object.status}}' == 'A' ? 'bg-success' : 'bg-danger' ">{{object.get_status_display}}</li>
					<li class="filler"></li>
					-->

						<div class="filler"></div>
				
					{% if object.status == 'A' or object.status == 'P' %}
						<input type="button" ng-click="expCtrl.modify('R')" class="btn btn-danger rounded" value="Rechazar">
					{% endif %}
					{% if object.status == 'P' %}
						&nbsp;&nbsp;&nbsp;
					{% endif %}
					{% if object.status == 'R' or object.status == 'P' %}
						<input type="button" ng-click="expCtrl.modify('A')" class="btn btn-success rounded" value="Aprobar">
					{% endif %}

					</div>

				{% endif %}

				<hr>

				<div class="d-content">
					{{object.content}}	
				</div>

				{% if request.user == object.author %}

					<hr>
					<div class="ex-status">
						<h4>Eres el autor de esta experiencia</h4>
						<div class="filler"></div>
						<input type="button" class="btn btn-danger rounded" ng-click="expCtrl.deleteExperience()" value="Eliminar">
					</div>

				{% endif %}

				<hr>
			</div>

			<div class="d-right-c">

				<div class="d-right-content">
					{% if object.img %}
					<img src="/{{object.img.url}}" alt=""></img>
					{% endif %}
					<div class="d-social-c">
						<div class="d-social-left">

							<div class="detail-n">
								
								<i class="fas fa-thumbs-up"></i>
								<h5>{[{expCtrl.likes}]}</h5>
								
							</div>

							<div class="social-btns">
			<div class="d-right-content">
				{% if object.img %}
					<img src="/{{object.img.url}}" alt=""></img>
				{% endif %}
				{% if object.video_url %}
					<iframe height="315"
						src="https://www.youtube.com/embed/{{object.video_url}}" class="rounded">
					</iframe>
				{% endif %}
				{% if object.audio_url %}
					<audio controls>
					  <source src="http://docs.google.com/uc?export=open&id={[{expCtrl.extractCId('{{ object.audio_url }}')}]}">
						Your browser does not support the audio element.
					</audio> 
				{% endif %}
				<div class="d-social-c" ng-init="expCtrl.loadAudios()">
					<div class="d-social-left">

						<div class="detail-n">
							
							<i class="fas fa-thumbs-up"></i>
							<h5>{[{expCtrl.likes}]}</h5>
							
						</div>

								{% if request.user.is_authenticated %}

									{% if user_can_vote %}

										<a ng-click="expCtrl.vote()"><i class="fas fa-chevron-up"></i></a>
										<a ng-click="expCtrl.unvote()"><i class="fas fa-chevron-down"></i></a>	

									{% endif %}

								{% endif %}

							</div>	
						</div>

						<div class="d-social-right">
							<i class="fas fa-eye"></i>
							<h5>{[{expCtrl.views}]}</h5>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="facebook-comments-container">
		<div class="fb-comments" data-href="{[{expCtrl.url}]}" data-mobile="true" data-width="50%" data-numposts="5"></div>
	</div>
</div>


{% endblock %}


{% block scripts %}

<script type="text/javascript" src="{% static 'app/libs/js-cookie/src/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'app/logic/controllers/experienceDetailCtrl.js' %}"></script>

{% endblock %}
