{% extends 'app/base.html' %}
{% load static %}

{% block content %}
	
	<section class="exp-section">
		<div class="exp-gra-c">
			<h3 class="border exp-section-title">Experiencias</h3>

			<div class="experiences-c">

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="exp-data">
						<div class="detail-c">
							<div class="popular-data-c">
								<div class="views"><i class="fas fa-eye"></i> 10</div>
								<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
									
							</div>
							<div class="exp-title">Secuestro en Manizales</div>
							<div class="content-c">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>

							<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

						</div>
					</div>
				</div>

				<div class="exp-footer">
				{% if is_paginated %}
					<nav aria-label="Page navigation example">
					  <ul class="pagination">

					    {% for obj in page_obj.paginator.page_range %}
					    	<li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>

					    {% endfor %}

					  </ul>
					</nav>

				{% endif %}
			</div>

			</div>
		</div>

		
	</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'app/logic/controllers/experiencesCtrl.js' %}"></script>

{% endblock %} 