 {% extends 'app/base.html' %}
 {% load static %}
 {% load widget_tweaks %}

 {% block content %}

 <div class="container-fluid gral-f-container">

 	<div class="forums-container" ng-controller="forumsController as fCtrl">
	 	<div class="forum-header">

	 		<div class="top-section">
	 			<div class="forum-header-normal" ng-show="fCtrl.currentState == fCtrl.normalState ">
	 				<h3 class="head-title">Foros</h3>
	 				{% if user.is_authenticated %}
	 					<button class="btn btn-primary" ng-click="fCtrl.newDiscussion()">Nueva Discusión</button>
	 				{% endif %}	 				
			 	</div>

			 	<div class="forum-header-new" ng-show="fCtrl.currentState == fCtrl.newState">
			 		<h3 class="head-title">Nuevo Foro</h3>
			 		<div class="options-c">
			 			<button class="cancel-btn btn btn-secondary" ng-disabled="fCtrl.isUploading" ng-click="fCtrl.cancelNewDiscussion()">Cancelar</button>
			 			<button ng-click="fCtrl.publish()" class="publish-btn btn btn-primary" ng-disabled="fCtrl.isUploading">Publicar Discusión</button>
			 		</div>
			 	</div>
			 	<br>
			 	<h5 class="top-description">Ponemos a tu disposición un espacio para discutir con los demás usuarios de ConviveTIC sobre temas del conflicto o plantear tu propio tema de discusión.</h5>
			 	<h5 class="top-description">Puedes poner contenido multimedia en las discusiones. {% if not request.user.is_authenticated %}<a href="{% url 'login' %}?next=/forums">¡Comienza a dialogar!</a>{% endif %}</h5>
	 		</div>
	 		<div class="filter-section" ng-show="fCtrl.currentState == fCtrl.normalState ">
	 			<ul>
	 				<li {% if order == 'popular' %} class="active" {% endif %}><a href="{% url 'forums-ordered' 'popular' %}">Popular</a></li>
	 				<li {% if order == 'new' %} class="active" {% endif %}><a href="{% url 'forums-ordered' 'new' %}">Nuevo</a></li>
	 			</ul>
	 		</div>
	 	</div>

	 	<div class="forum-s" ng-show="fCtrl.currentState == fCtrl.normalState ">
	 		<div class="forum">

	 			{% for thread in thread_list %}
	 				<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">{{thread.comment_set.count}}</div>
								</div>

							</div>
						
							<div class="forum-publisher">
								<p class="f-date">{{thread.pub_date}}</p>
								<p class="f-name">
									{{thread.author.get_full_name}} 
									{% if request.user == thread.author %}
										<span class="text-primary">(Tú)</span>
									{% endif %}
								</p>
							</div>

						</div>
					</div>
	 			{% endfor %}

			</div>

			<div class="forum-footer">
				{% if thread_list.has_other_pages %}
				  <ul class="pagination">
				    {% if thread_list.has_previous %}
				      <li class="page-item"><a class="page-link" href="?page={{ thread_list.previous_page_number }}">&laquo;</a></li>
				    {% else %}
				      <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
				    {% endif %}
				    {% for i in thread_list.paginator.page_range %}
				      {% if thread_list.number == i %}
				        <li class="page-item disabled"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
				      {% else %}
				        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if thread_list.has_next %}
				      <li class="page-item"><a class="page-link" href="?page={{ thread_list.next_page_number }}">&raquo;</a></li>
				    {% else %}
				      <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
				    {% endif %}
				  </ul>
				{% endif %}
			</div>	
	 	</div>

	 	{% if user.is_authenticated %}

	 	<div class="new-forum" ng-show="fCtrl.currentState == fCtrl.newState ">
	 		<form novalidate ng-class="{ 'was-validated' : fCtrl.publishClicked }" id="form" name="form" method="POST" enctype='multipart/form-data'>
	 			{% csrf_token %}
	 			<div class="form-group">
	 				{% render_field form.title class+='form-control title-input' placeholder=form.title.label ng-model='title' %}
	 				<small id="titleHelp" class="form-text text-muted">Debe ser un titulo que describa claramante la temática</small>
	 				<div class="login-error-messages" ng-messages='form.title.$error' ng-show="fCtrl.publishClicked">
						<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
					</div>
	 			</div>
	 			<div class="form-group">
	 				{% render_field form.description class+='form-control' placeholder=form.description.label rows='15' ng-model='description' %}
	 				<small id="titleHelp" class="form-text text-muted">Texto que dará la idea alrededor de la cual se discutirá</small>
	 				<div class="login-error-messages" ng-messages='form.description.$error' ng-show="fCtrl.publishClicked">
						<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
					</div>
	 			</div>
	 			<div class="form-group">
	 				{% render_field form.tags placeholder=form.tags.label class+='form-control' ng-model='tags' ng-pattern='/^[-\w\s]+(?:,[-\w\s]+)*$/' %}
	 				<small id="titleHelp" class="form-text text-muted">Etiquetas para que encuentren fácilmente tu discusión</small>
	 				<div class="login-error-messages" ng-messages='form.tags.$error' ng-show="fCtrl.publishClicked">
						<p ng-message="required">Campo requerido</p>
						<p ng-message="pattern">Deben ser valores separados por comas</p>
					</div>
	 			</div>
	 			{% render_field form.video_url %}
	 			{% render_field form.audio_url %}	 			
	 			<br>
				<div class="media-type-container text-center">
					<p class="text-muted">Tipo de contenido de la discusión</p> 
		 			<div class="btn-group" data-toggle="buttons">	 				
		      			<a href="javascript:void(0)" ng-click="fCtrl.setMediaOption(fCtrl.option_text)" ng-class="{ 'active' : fCtrl.mediaOption == fCtrl.option_text  }" class='btn btn-outline-primary'>Sólo texto</a>
				    	<a href="javascript:void(0)" ng-click="fCtrl.setMediaOption(fCtrl.option_video)" ng-class="{ 'active' : fCtrl.mediaOption == fCtrl.option_video  }" class='btn btn-outline-primary'>Video</a>
			    		<a href="javascript:void(0)" ng-click="fCtrl.setMediaOption(fCtrl.option_audio)" ng-class="{ 'active' : fCtrl.mediaOption == fCtrl.option_audio  }" class='btn btn-outline-primary'>Audio</a>
				    	<a href="javascript:void(0)" ng-click="fCtrl.setMediaOption(fCtrl.option_img)" ng-class="{ 'active' : fCtrl.mediaOption == fCtrl.option_img  }" class='btn btn-outline-primary'>Imagen</a>
					</div>
				</div>
				<div class="form-group f-type-data" ng-show='fCtrl.mediaOption == fCtrl.option_img' >
					{% render_field form.img class+="filestyle" data-dragdrop="false" data-text="Seleccionar archivo" %}
					<div ng-show="fCtrl.fileMissingError" class="login-error-messages">
					  	<p>Debes subir un archivo del tipo que seleccionaste</p>
				    </div>
				</div>
				<div class="form-group f-type-data" ng-class="{ 'was-validated' : fCtrl.publishClicked }" ng-hide="fCtrl.mediaOption == fCtrl.option_text || fCtrl.mediaOption == fCtrl.option_img">					  
					  <div class="form-group">
					    <input id="mediaFile" type="file" class="filestyle" data-dragdrop="false" data-text="Seleccionar archivo">
					  </div>
					  <div ng-show="fCtrl.fileMissingError" class="login-error-messages">
					  	<p>Debes subir un archivo del tipo que seleccionaste</p>
					  </div>
				</div>
				<br>
				<div class="text-center" ng-show="fCtrl.isUploading">				
					<p>Subiendo: <span id="percent-transferred"></span></p>
					<progress id="upload-progress"></progress>
				</div>
				<br>
				<div class="text-center" ng-show="fCtrl.uploadComplete">
					<p id="upload-status">Procesando, espera un momento por favor</p>
					<div id="player"></div>
				</div>		
			</form>
	 	</div>

	 	{% endif %}

 	</div>
 	
 </div>

 {% endblock%}

 {% block scripts %}
 	<script src="https://apis.google.com/js/api.js"></script>
    <script src="{% static 'app/util/youtube/cors_upload.js' %}"></script>
 	<script type="text/javascript" src="{% static 'app/logic/controllers/forumsCtrl.js' %}"></script>
 {% endblock %}