 {% extends 'app/base.html' %}
 {% load static %}

 {% block content %}

 <div class="container-fluid gral-df-container">

 	<div class="f-detail-container" ng-controller="forumDetailController as fdCtrl">
	 	
		<div class="detail-c">
			<div class="prof-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">
			</div>

			<div class="detail-right">
				<h4>Titulo del foro que puede ser de una o de dos líneas</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<div class="detail-social-c">
					<div class="social-left">
						<div class="detail-n">
							25
						</div>
						<div class="social-btns">
							<a href="#"><i class="fas fa-chevron-up"></i></a>
							<a href="#"><i class="fas fa-chevron-down"></i></a>	
						</div>	
					</div>

					<div class="social-right">
						<p class="forum-date">
							23/12/2017
						</p>
					</div>
					
				</div>

				<div class="d-new-comment">
					<textarea class="form-control" rows="5" placeholder="Escribe un nuevo comentario"></textarea>

					<button class="btn btn-primary">Comentar</button>
				</div>
			</div>

		</div>

		<div class="detail-comments">
			<p>8 comentarios</p>

			<hr>

			<div class="d-comments">
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>
				<div class="rounded d-comment">Comentarios</div>


			</div>
		</div>

 	</div>
 	
 </div>

 {% endblock%}

 {% block scripts %} 
 	<script type="text/javascript" src="{% static 'app/logic/controllers/forumDetailCtrl.js' %}"></script>

 {% endblock %}