{% load static %}

<!DOCTYPE html>
<html lang="es" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ConviveTIC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/tether/dist/css/tether.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/toastr/toastr.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
</head>
<body ng-app='conviveticApp' ng-cloak>

	<div class="top-menu">
		<div class="top-menu-w">
			<a href=""><i class="fas fa-times"></i></a>
			<hr>
			<div class="rounded-circle decor"></div>
		</div>
	</div>

	<p class="content-t">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?

		<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?
	
		<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?

		<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?

		<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?

		<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illum, voluptatum. Maxime ratione culpa, quia, beatae eius sunt, illum ipsum at veritatis modi maiores iste in explicabo assumenda tempore asperiores?

	</p>
	
	<footer class="footer-guide">
		<div class="footer-w">
			<button class="btn btn-primary back-btn">Anterior</button>
			<button class="btn btn-primary next-btn">Siguiente</button>
		</div>
	</footer>

	

	<script type="text/javascript" src="{% static 'app/libs/jquery/dist/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/tether/dist/js/tether.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/popper.js/dist/umd/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-animate/angular-animate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-messages/angular-messages.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/toastr/toastr.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'app/logic/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/controllers/signupCtrl.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/controllers/homeCtrl.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/directives/input.js' %}"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	

</body>
</html>