{% extends 'app/base.html' %}

{% block content %} 
	<div class="container-fluid p-container">
		<section class="exp-section">
			<div class="exp-gra-c">
				<h3 class="border exp-section-title">Experiencias</h3>

				<div class="experiences-c">

					{% for exp in experiences %}

					<div class="experience">
						<img class="rounded" src="http://via.placeholder.com/320x186">
						<div class="exp-data">
							<div class="detail-c">
								<div class="popular-data-c">
									<div class="views"><i class="fas fa-eye"></i> 10</div>
									<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
										
								</div>

								<div class="exp-title"><a href="{% url 'experience-detail' exp.id %}">{{exp.title}}</a></div>
								<div class="content-c">
									<p>{{exp.content}}</p>
								</div>
								<div class="publisher"><i class="fas fa-user"></i>{{exp.author.get_full_name}}</div>

							</div>
						</div>
					</div>

					{% endfor %}

				</div>

				<div class="more-exp">
					<a href="{% url 'experiences' %}" >Mostrar todo ({{experiences.count}}+) <i>></i></a>	
				</div>	

			</div>

			
		</section>
		
		<section class="forum-section">

			<div class="for-gra-c">
				<h3 class="border for-section-title">Foros</h3>
				<div class="forum-c">
					<div class="forum rounded">

						{% for thread in thread_list %}
							<div class="forum-item">

								<div class="f-image">
									<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
								</div>
								

								<div class="forum-inline">

									<div class="for-data">
										<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>

										<div class="comment-c">
											<i class="far fa-comment"></i>
											<div class="comment-counter">
												{{thread.comment_set.count}}

											</div>
										</div>

									</div>
								

									<div class="forum-publisher">
										<p class="f-date">{{ thread.pub_date }}</p>
										<p class="f-name">{{ thread.author.get_full_name }}</p>
									</div>

								</div>
							</div>

						{% endfor %}
						
					</div>

					<div class="forum rounded">
						{% for thread in secondary_threads %}
							<div class="forum-item">

								<div class="f-image">
									<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
								</div>
								

								<div class="forum-inline">

									<div class="for-data">
										<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>

										<div class="comment-c">
											<i class="far fa-comment"></i>
											<div class="comment-counter">
												
												{{thread.comment_set.count}}

											</div>
										</div>

									</div>
								

									<div class="forum-publisher">
										<p class="f-date">{{ thread.pub_date }}</p>
										<p class="f-name">{{ thread.author.get_full_name }}</p>
									</div>

								</div>
							</div>


						{% endfor %}
						
					</div>

					<div class="f-aside">
						<div class="forum-invitation rounded">
							<h5>¿Le interesa participar en los foros?</h5>

							<p>La discusión es fundamental para la generación de espacios de participación que constribuyan a la inclusión y en general al mejoramiento social.</p>

							<button class="btn btn-primary">Registrarse</button>

						</div>

					</div>
				</div>

				<div class="more-forum">
					<a href="{% url 'forums' %}" >Mostrar todo ({{th_quantity}}+) <i>></i></a>	
				</div>

				
			</div>
			
		</section>

			
	</div>

	<div class="container-fluid block-expl">
		
		<div class="contact-section">
			<div class="contact-c">
				<div class="left-c">
					<h4>¿Tienes alguna duda o aporte?</h4>
					<p>Transforma la sociedad con tus aportes, comunícate con nosotros.</p>
					<button class="btn btn-primary">Contáctanos</button>
				</div>
				<div class="right-c">
					<img class="rounded" src="http://via.placeholder.com/400x208">
				</div>
			</div>
		</div>

	</div>


	<div class="container-fluid start-section">
		<div class="start-c">
			<div class="start-content">
				<div class="float-content">
					
					<p>Empieza a contribuir</p>
					<button class="btn btn-primary">Comenzar</button>
				</div>
			</div>
			<img src="http://via.placeholder.com/2560x563">

		</div>

	</div>
	
	
{% endblock %}