{% extends 'app/base.html' %}

{% block content %} 
	<div class="container-fluid p-container">
		<section class="exp-section">
			<h3 class="border exp-section-title">Experiencias</h3>

			<div class="experiences-c">
				
				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>
						<div class="exp-title">Secuestro en Manizales</div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>

						<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

					</div>
					
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>
						<div class="exp-title">Secuestro en Manizales</div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>

						<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

					</div>
					
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>
						<div class="exp-title">Secuestro en Manizales</div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>

						<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

					</div>
					
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>
						<div class="exp-title">Secuestro en Manizales</div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>

						<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

					</div>
					
				</div>

				<div class="experience">
					<img class="rounded" src="http://via.placeholder.com/320x186">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>
						<div class="exp-title">Secuestro en Manizales</div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>

						<div class="publisher"><i class="fas fa-user"></i> Daniel Rico</div>	

					</div>
					
				</div>

			</div>

			<div class="more-exp">
				<a href="#" >Mostrar todo (10+) <i>></i></a>	
			</div>	
		</section>
		
		<section class="forum-section">
			<h3 class="border exp-section-title">Foros</h3>	

			<div class="forum-c">
				<div class="forum rounded">

					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>

					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de pazaasdasdas asdasdasdasdas?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					
				</div>

				<div class="forum rounded">

					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>

					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de pazaasdasdas asdasdasdasdas?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					<div class="forum-item">

						<div class="f-image">
							<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
						</div>
						

						<div class="forum-inline">

							<div class="for-data">
								<a href="#">¿Quieres contribuir a los espacios de paz ?¿Quieres contribuir a los espacios de paz ?</a>

								<div class="comment-c">
									<i class="far fa-comment"></i>
									<div class="comment-counter">10</div>
								</div>

							</div>
						

							<div class="forum-publisher">
								<p class="f-date">04/12/12</p>
								<p class="f-name">Luis Medina</p>
							</div>

						</div>
					</div>
					
				</div>

				<div class="f-aside">
					<div class="forum-invitation rounded">
						<h5>¿Le interesa participar en los foros?</h5>

						<p>La discusión es fundamental para la generación de espacios de participación que constribuyan a la inclusión y en general al mejoramiento de espacios en el posconflicto.</p>

						<button class="btn btn-primary">Registrarse</button>

					</div>

				</div>


			</div>
		</section>

	</div>
	
	
{% endblock %}