{% extends 'app/base.html' %}
{% load static %}
{% load random_image  %}

{% block content %} 
	<div class="container-fluid p-container" ng-controller="indexController as ixCtrl">
		<section class="exp-section">
			<div class="exp-gra-c">
				<h3 class="border exp-section-title">Experiencias</h3>
				<br>
				<h5 class="exp-section-description">Descubre relatos, vivencias y testimonios que personas han querido compartir en ConviveTIC, y si estás listo, <a href="{% url 'experiences' %}">¡Comparte tu historia!</a></h5>
				<br>
				<div class="experiences-c">

					{% for exp in experiences %}

					<div class="experience">
						{% include 'app/exp_thumbnail.html' %}
						<div class="exp-data">
							<div class="detail-c">
								<div class="popular-data-c">
									<div class="views"><i class="fas fa-eye"></i> {{ exp.views }}</div>
									<div class="likes"><i class="fas fa-thumbs-up"></i> {{ exp.experienceslike_set.count }}</div>
										
								</div>

								<div class="exp-title"><a href="{% url 'experience-detail' exp.id %}">{{exp.title}}</a></div>
								<div class="content-c">
									<p>{{exp.content}}</p>
								</div>
								<p class="text-muted text-right"><small>{{ exp.pub_date }}</small></p>
								<div class="publisher"><i class="fas fa-user"></i>{{exp.author.get_full_name}}</div>

							</div>
						</div>
					</div>

					{% endfor %}

					{% if messages %}
					    {% for message in messages %}
					    	{% if message.tags == 'success' %}
					    <p style="display:none" ng-init="ixCtrl.successToast('{{ message }}')">{{ message }}</p>
					    	{% endif %}
					    	{% if message.tags == 'info' %}
					    <p style="display:none" ng-init="ixCtrl.infoToast('{{ message }}')">{{ message }}</p>
					    	{% endif %}
					    {% endfor %}
					{% endif %}

				</div>

				<div class="more-exp">
					<a href="{% url 'experiences' %}" >Mostrar todo ({{experiences.count}}) </a>	
				</div>	

			</div>

			
		</section>
		
		<section class="forum-section">

			<div class="for-gra-c">
				<h3 class="border for-section-title">Foros</h3>
				<br>
				<h5 class="for-section-description">Diálogos entre usuarios de ConviveTIC acerca de temas del conflicto. <a href="{% url 'forums' %}">¡Participa!</a></h5>
				<div class="forum-c">
					<div class="forum rounded">

						{% for thread in thread_list %}
							<div class="forum-item">

								<div class="f-image">
									{% include 'app/thread_thumbnail.html' %}
								</div>
								

								<div class="forum-inline">

									<div class="for-data">
										<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>

										<div class="comment-c">
											<i class="far fa-comment"></i>
											<div class="comment-counter">
												{{thread.comment_set.count}}

											</div>
										</div>

									</div>
								

									<div class="forum-publisher">
										<p class="f-date">{{ thread.pub_date }}</p>
										<p class="f-name">{{ thread.author.get_full_name }}</p>
									</div>

								</div>
							</div>

						{% endfor %}
						
					</div>

					<div class="forum rounded">
						{% for thread in secondary_threads %}
							<div class="forum-item">

								<div class="f-image">
									{% include 'app/thread_thumbnail.html' %}
								</div>
								

								<div class="forum-inline">

									<div class="for-data">
										<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>

										<div class="comment-c">
											<i class="far fa-comment"></i>
											<div class="comment-counter">
												
												{{thread.comment_set.count}}

											</div>
										</div>

									</div>
								

									<div class="forum-publisher">
										<p class="f-date">{{ thread.pub_date }}</p>
										<p class="f-name">{{ thread.author.get_full_name }}</p>
									</div>

								</div>
							</div>


						{% endfor %}
						
					</div>

					<div class="f-aside">
						<div class="forum-invitation rounded">
							<h5>¿Te interesa participar en los foros?</h5>

							<p>La discusión es fundamental para la generación de espacios de participación que constribuyan a la inclusión y en general al mejoramiento social.</p>

							<a class="btn btn-primary" href="{% url 'forums' %}">Participar</a>

						</div>

					</div>
				</div>

				<div class="more-forum">
					<a href="{% url 'forums' %}" >Mostrar todo ({{th_quantity}})</a>	
				</div>

				
			</div>
			
		</section>

			
	</div>

	<div class="container-fluid block-expl">
		
		<div class="contact-section">
			<div class="contact-c">
				<div class="left-c">
					<h4>¿Tienes alguna duda o aporte?</h4>
					<p>Transforma la sociedad con tus aportes, comunícate con nosotros.</p>
					<button class="btn btn-primary">Contáctanos</button>
				</div>
				<div class="right-c">
					<img class="rounded" src="{% static 'app/img/img6.jpg' %}">
				</div>
			</div>
		</div>

	</div>


	<div class="container-fluid start-section">
		<div class="start-c">
			<div class="start-content">
				<div class="float-content">
					
					<p>Empieza a contribuir</p>
					<button class="btn btn-primary">Comenzar</button>
				</div>
			</div>
			<div class="start-img">

		</div>

	</div>
	
	
{% endblock %}

 {% block scripts %} 

 	<script type="text/javascript" src="{% static 'app/logic/controllers/indexController.js' %}"></script>

 {% endblock %}