{% extends 'app/login_base.html' %}
{% load static %}

{% block left %}

	<h2>Bienvenido a <strong>ConviveTIC</strong></h2>
	<h5>Inicia sesión para continuar</h5>

{% endblock %}

{% block right %}

	<p class="text-center"><small>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></small></p>

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
		<div class="form-group">
		    {{ form.username.label_tag }}
		    {{ form.username }}
		</div>
		<div class="form-group">
		    {{ form.password.label_tag }}
		    {{ form.password }}
	    </div>
	    {% if form.errors %}
	    	<p class="text-center login-error"><small>Nombre de usuario o contraseña inválidos</small></p>
    	{% endif %}
	    <div class="form-group">
			<input type="submit" value="Iniciar sesión" class="btn btn-primary"/>
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
	</form>
	<div class="forgot-password text-center">
		<a href="{% url 'password_reset_request' %}"><p><small>¿Olvidaste tu contraseña?</small></p></a>
	</div>

{% endblock %}