{% extends 'app/base.html' %}
{% load static %}


{% block content %}

<div class="my-comments-c">
	<div class="my-com-wrapper">
		<h3>Mis comentarios</h3>
		<hr>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">FORO</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">EXPERIENCIA</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">EXPERIENCIA</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">FORO</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">FORO</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

		<div class="mcomment rounded">
			<p class="com-forum"><span class="rounded exp-tag">FORO</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h5>Feb 2017</h5>

			<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit perferendis odio vel dicta, magni impedit odit nihil numquam, minima distinctio asperiores repellat accusamus cum accusantium minus modi ab officiis.</p>

		</div>

	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}