{% extends 'app/base.html' %}
{% load static %}


{% block content %}

<div class="my-comments-c">
	<div class="my-com-wrapper">
		<h3>Mis comentarios</h3>
		<hr>

		{% for mcomment in my_comments %}

		<div class="mcomment rounded">
			<p class="com-forum">

				{% if mcomment.video_url %}

					<span class="rounded exp-tag">VIDEO</span>

				{% elif mcomment.audio_url %}

					<span class="rounded exp-tag">AUDIO</span>

				{% elif mcomment.img  %}

					<span class="rounded exp-tag">IMAGEN</span>

				{% else %}
					<span class="rounded exp-tag">TEXTO</span>

				{% endif %}

				{{ mcomment.author.get_full_name }}
			</p>

			<h5>{{mcomment.pub_date}}</h5>

			<p class="content">
				{{mcomment.content}}
			</p>

		</div>

		{% endfor %}

	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}