{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="my-exp-c">
	<div class="my-exp-wrapper">

		<h3>Mis Experiencias</h3>
		<hr>

		<div class="my-exp-content">
			<div class="mexperience">
				<img class="rounded" src="http://via.placeholder.com/320x186">
				<div class="exp-data">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>

						<div class="exp-title"><a href="">Titulo de la experiencia</a></div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="publisher"><i class="fas fa-user"></i>Daniel Rico</div>

					</div>
				</div>
			</div>

			<div class="mexperience">
				<img class="rounded" src="http://via.placeholder.com/320x186">
				<div class="exp-data">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>

						<div class="exp-title"><a href="">Titulo de la experiencia</a></div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="publisher"><i class="fas fa-user"></i>Daniel Rico</div>

					</div>
				</div>
			</div>

			<div class="mexperience">
				<img class="rounded" src="http://via.placeholder.com/320x186">
				<div class="exp-data">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>

						<div class="exp-title"><a href="">Titulo de la experiencia</a></div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="publisher"><i class="fas fa-user"></i>Daniel Rico</div>

					</div>
				</div>
			</div>

			<div class="mexperience">
				<img class="rounded" src="http://via.placeholder.com/320x186">
				<div class="exp-data">
					<div class="detail-c">
						<div class="popular-data-c">
							<div class="views"><i class="fas fa-eye"></i> 10</div>
							<div class="likes"><i class="fas fa-thumbs-up"></i> 300</div>
								
						</div>

						<div class="exp-title"><a href="">Titulo de la experiencia</a></div>
						<div class="content-c">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="publisher"><i class="fas fa-user"></i>Daniel Rico</div>

					</div>
				</div>
			</div>

			
		</div>

		

	</div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}