{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="my-forums-c">
	<div class="my-forums-wrapper">

		<h3>Mis foros</h3>
		<hr>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>

		<div class="my-forum-item rounded">

			<div class="mf-image">
				<img class="rounded-circle" src="http://via.placeholder.com/75x75">	
			</div>
			

			<div class="my-forum-inline">

				<div class="for-data">
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>

					<div class="comment-c">
						<i class="far fa-comment"></i>
						<div class="comment-counter">10</div>
					</div>

				</div>
			

				<div class="my-forum-publisher">
					<p class="mf-date">Febr 2017</p>
					<p class="mf-name">Daniel Rico</p>
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}