{% extends 'app/login_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block left %}

	<h2>Recupera tu contraseña de <strong>ConviveTIC</strong></h2>	

{% endblock %}

{% block right %}
	
	<p class="text-center">Recuperar contraseña</p>
	<br>
	<form method="post" action="{% url 'password_reset_request' %}">
		{% csrf_token %}				
		<div class="form-group">
			<label>Ingresa el correo de tu cuenta:</label>
			{% render_field form.email placeholder=form.email.label %}
		</div>
		<div class="form-group">
		
		</div>
	    <div class="form-group">
			<input type="submit" value="Enviar" class="btn btn-primary"/>
		</div>
	</form>
	<div class="forgot-password text-center">
		<p><small>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></small></p>
	</div>

{% endblock %}