{% extends 'app/login_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block left %}

	<h2>Recupera tu cuenta de <strong>ConviveTIC</strong></h2>	

{% endblock %}

{% block right %}

	{% if validlink %}
		<p>Cambio de contraseña de ConviveTIC</p>
		<div ng-controller="passwordResetConfirmController as passwordResetConfirmCtrl">
			<form novalidate method="post" ng-class="passwordResetConfirmCtrl.formSubmitted ? 'was-validated' : ''" id="form" name="form">
				{% csrf_token %}				
				<div class="form-group">
					<label>Nueva contraseña</label>
					{% render_field form.new_password1 ng-model="password1" class+="form-control" ng-minlength="8" %}
					<div class="login-error-messages" ng-messages='form.new_password1.$error' ng-show="passwordResetConfirmCtrl.formSubmitted">
						<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
					</div>
				</div>
				<div class="form-group">
					<label>Confirmar contraseña</label>
					{% render_field form.new_password2 ng-model="password2" class+="form-control" ng-pattern="password1" %}
					<div class="login-error-messages" ng-messages='form.new_password2.$error' ng-show="passwordResetConfirmCtrl.formSubmitted">	
						<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
					</div>
				</div>
			    <div class="form-group text-center">
					<input type="button" ng-click="passwordResetConfirmCtrl.sendForm()" value="Guardar" class="btn btn-primary"/>
				</div>
			</form>
		</div>
	{% else %}
		<p>Enlace no valido</p>
	{% endif %}
	
	<!--
	<div class="forgot-password text-center">
		<p><small>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></small></p>
	</div>
	-->

{% endblock %}

{% block scripts %}
	
	<script type="text/javascript" src="{% static 'app/logic/controllers/passwordResetConfirmCtrl.js' %}"></script>

{% endblock %}