{% extends 'app/login_base.html' %}
{% load static %}

{% block left %}

	<h2>Recupera tu cuenta de <strong>ConviveTIC</strong></h2>	

{% endblock %}

{% block right %}

	<p class="text-center">Si el correo que has ingresado existe en nuestro sistema, se te enviará un correo con instrucciones para recuperar tu cuenta.</p>
	<a href="{% url 'index' %}"><p class="text-center">Volver al inicio</p></a>
	<div class="forgot-password text-center">
		<p><small>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></small></p>
	</div>

{% endblock %}