{% extends 'app/login_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block left %}

	<h2>Recupera tu cuenta de <strong>ConviveTIC</strong></h2>	

{% endblock %}

{% block right %}
	
	<p class="text-center">Recuperar contraseña</p>
	<br>
	<div ng-controller="passwordResetRequestController as passwordResetRequestCtrl">
		<form novalidate method="post" name="form" action="{% url 'password_reset_request' %}" ng-class="passwordResetRequestCtrl.formSubmitted ? 'was-validated' : ''" id="form">
			{% csrf_token %}				
			<div class="form-group">
				<label>Ingresa el correo de tu cuenta:</label>
				{% render_field form.email placeholder=form.email.label ng-model="email" class+="form-control" %}
				<div class="login-error-messages" ng-messages='form.email.$error' ng-show="passwordResetRequestCtrl.formSubmitted">
					<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
				</div>
			</div>
		    <div class="form-group text-center">
				<input type="button" ng-click="passwordResetRequestCtrl.sendForm()" value="Enviar" class="btn btn-primary"/>
			</div>
		</form>
	</div>
	<div class="forgot-password text-center">
		<p><small>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></small></p>
	</div>

{% endblock %}

{% block scripts %}
	
	<script type="text/javascript" src="{% static 'app/logic/controllers/passwordResetRequestCtrl.js' %}"></script>

{% endblock %}