{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="profile-c">
	<div class="profile-wrapper">
		<div class="profile-nav">
			<ul>
				<li><a href="">Personal</a></li>
				<li><a href="">Contacto</a></li>
				<li><a href="">Conflicto</a></li>
			</ul>
		</div>

		<div class="profile-content">
			<div class="prof-info-c">
				<div class="prof-header">
					<p>Personal</p>
				</div>
				<div class="prof-content">
					
				</div>			
			</div>
		</div>	

	</div>
</div>




{% endblock %}