{% extends 'app/base.html' %}
{% load static %}

{% block content %} 
<div class="wrap-container">
	<div class="container search-container">
		<div class="row">
			<div class="col col-xs-12">		
				<h3 class="title">Buscaste: <span class="text-info">{{ q }}</span></h3>
				<p class="title">Resultados de la búsqueda</p>
			</div>
		</div>	
		<div class="row">
			<div class="col col-xs-12 col-md-6">
				<h4 class="results-title text-center">Discusiones</h4>
				<div class="results-content">
					{% if not threads %}
						<div class="alert alert-info text-center"><p>No se encontraron discusiones</p></div>
					{% else %}
						{% for thread in threads %}
						<div class="results-item rounded">
							<div class="mf-image">
								{% include 'app/thread_thumbnail.html' %}
							</div>
							<div class="my-forum-inline">
								<div class="for-data">
									<a href="{% url 'thread-detail' thread.id %}">{{thread.title}}</a>
									<div class="comment-c">
										<i class="far fa-comment"></i>
										<div class="comment-counter">{{thread.comment_set.count}}</div>
									</div>
								</div>						
								<div class="my-forum-publisher">
									<p class="mf-date">{{thread.pub_date}}</p>
									<p class="mf-name">{{thread.author.get_full_name}}</p>
								</div>

							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="col col-xs-12 col-md-6">
				<h4 class="results-title text-center">Experiencias</h3>
				<div class="results-content">
					{% if not experiences %}
						<div class="alert alert-info text-center"><p>No se encontraron experiencias</p></div>
					{% else %}
						{% for thread in experiences %}
						<div class="results-item rounded">
							<div class="mf-image">
								{% include 'app/thread_thumbnail.html' %}
							</div>
							<div class="my-forum-inline">
								<div class="for-data">
									<a href="{% url 'experience-detail' thread.id %}">{{thread.title}}</a>
									<div class="comment-c">
										<i class="far fa-thumbs-up"></i>
										<div class="like-counter">{{thread.experienceslike_set.count}}</div>
									</div>
								</div>						
								<div class="my-forum-publisher">
									<p class="mf-date">{{thread.pub_date}}</p>
									<p class="mf-name">{{thread.author.get_full_name}}</p>
								</div>

							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}