{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ConviveTIC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/tether/dist/css/tether.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/libs/select/select.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />

	<script type="text/javascript" src="{% static 'app/libs/jquery/dist/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-animate/angular-animate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/angular-messages/angular-messages.min.js' %}"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	<script type="text/javascript" src="{% static 'app/logic/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/controllers/signupCtrl.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/factories/usernameservice.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/logic/directives/unique.js' %}"></script>
</head>
<body ng-app='conviveticApp' ng-cloak>
	<div class="register-container">
		<div class="register-box rounded" ng-controller="signupController as signupCtrl">
			<div class="register-header">
				<div class="text-center">
					<img class="register-logo" src="{% static 'app/img/ConviveTIC-logo.png' %}">
				</div>
				<p class="text-center" >Llena los campos para registrarte en ConviveTIC {[{ signupCtrl.x }]} </p>
				<div class="register-state-container">
					<div class="register-state-circle rounded-circle" ng-class="{'active' : signupCtrl.state == signupCtrl.pageOne}"></div>
					<div class="register-state-circle rounded-circle" ng-class="{'active' : signupCtrl.state == signupCtrl.pageTwo}"></div>
					<div class="register-state-circle rounded-circle" ng-class="{'active' : signupCtrl.state == signupCtrl.pageThree}"></div>
				</div>
				<hr>
			</div>
			<div class="register-form">
				<form novalidate action="signup" method="post" id="userRegistrationForm">
					{% csrf_token %}
					<div class="register-section-container" >
					<div class="register-section" ng-show="signupCtrl.state == signupCtrl.pageOne" >
						<ng-form name="partOneForm" ng-class="signupCtrl.pageOneSubmitted ? 'was-validated' : '' ">
							<div class="row">
								<div class="col">
									{% render_field user_form.group class+="form-control" ng-model="group" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-group"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>		
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field user_form.email class+="form-control" placeholder=user_form.email.label ng-model="email" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-email"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
								<div class="col" ng-class="{'is-invalid' : partOneForm['user-username'].$invalid && signupCtrl.pageOneSubmitted}">
									{% render_field user_form.username class+="form-control" placeholder=user_form.username.label ng-model="username" ng-minlength="6" unique="true" %}	
									<div class="register-error-messages" ng-messages='partOneForm["user-username"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}">
										</div>
										<p ng-show="partOneForm['user-username'].$pending.unique">Revisando nombre de usuario...</p>
									</div>
								</div>
								
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field user_form.password1 class+="form-control" placeholder=user_form.password1.label ng-model="password1" ng-minlength="8" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-password1"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
								<div class="col">
									{% render_field user_form.password2 class+="form-control" placeholder=user_form.password2.label ng-model="password2" ng-pattern="password1" ng-minlength="8" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-password2"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>							
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field user_form.first_name class+="form-control" placeholder=user_form.first_name.label ng-model="first_name" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-first_name"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
								<div class="col">		
									{% render_field user_form.last_name class+="form-control" placeholder=user_form.last_name.label ng-model="last_name" %}
									<div class="register-error-messages" ng-messages='partOneForm["user-last_name"].$error' ng-show='signupCtrl.pageOneSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
							<br>
														
						</ng-form>
					</div>
					<div class="register-section" ng-show="signupCtrl.state == signupCtrl.pageTwo" >
						<ng-form name="partTwoForm" ng-class="signupCtrl.pageTwoSubmitted ? 'was-validated' : '' ">
							<div class="row">
								<div class="col" style="display:flex; justify-content: center; align-items: center">
									{{ profile_form.gender.label_tag }}
									&nbsp;&nbsp;
									{% render_field profile_form.gender class+="extendSelect" %}
								</div>
								<div class="col" style="display:flex; justify-content: center; align-items: center">
									{{ profile_form.title.label_tag }}
									&nbsp;&nbsp;
									{% render_field profile_form.title class+="extendSelect" %}
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field profile_form.birth_date class+="form-control" placeholder=profile_form.birth_date.label ng-model="birth_date" %}
									<div class="register-error-messages" ng-messages='partTwoForm["profile-birth_date"].$error' ng-show='signupCtrl.pageTwoSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
								<div class="col">
									{% render_field profile_form.phone_number class+="form-control" placeholder=profile_form.phone_number.label ng-model="phone_number" %}
									<div class="register-error-messages" ng-messages='partTwoForm["profile-phone_number"].$error' ng-show='signupCtrl.pageTwoSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field profile_form.nationality class+="form-control" placeholder=profile_form.nationality.label ng-model="nationality" %}
									<div class="register-error-messages" ng-messages='partTwoForm["profile-nationality"].$error' ng-show='signupCtrl.pageTwoSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
								<div class="col">
									{% render_field profile_form.country_of_residence class+="form-control" placeholder=profile_form.country_of_residence.label ng-model="country_of_residence" %}
									<div class="register-error-messages" ng-messages='partTwoForm["profile-country_of_residence"].$error' ng-show='signupCtrl.pageTwoSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">
									{% render_field profile_form.bio class+="form-control" placeholder=profile_form.bio.label rows="2" ng-model="bio" %}
									<div class="register-error-messages" ng-messages='partTwoForm["profile-bio"].$error' ng-show='signupCtrl.pageTwoSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>		
						</ng-form>	
					</div>
					<div class="register-section" ng-show="signupCtrl.state == signupCtrl.pageThree" >
						<ng-form name="partThreeForm" ng-class="signupCtrl.pageThreeSubmitted ? 'was-validated' : '' ">
							<div class="row">
								<div class="col">
									{{ profile_form.is_conflict_participant.label_tag }}
									{% render_field profile_form.is_conflict_participant class+="register-yesno" ng-model="is_conflict_participant" %}
									<div class="register-error-messages" ng-messages='partThreeForm["profile-is_conflict_participant"].$error' ng-show='signupCtrl.pageThreeSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col">
									{{ profile_form.is_conflict_victim.label_tag }}
									{% render_field profile_form.is_conflict_victim class+="register-yesno" ng-model="is_conflict_victim"%}
									<div class="register-error-messages" ng-messages='partThreeForm["profile-is_conflict_victim"].$error' ng-show='signupCtrl.pageThreeSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									{{ profile_form.is_living_in_conflict_zone.label_tag }}
									{% render_field profile_form.is_living_in_conflict_zone class+="register-yesno" ng-model="is_living_in_conflict_zone" %}
									<div class="register-error-messages" ng-messages='partThreeForm["profile-is_living_in_conflict_zone"].$error' ng-show='signupCtrl.pageThreeSubmitted'>
										<div ng-messages-include="{% static 'app/util/error_messages.html' %}"></div>
									</div>
								</div>
							</div>
							
						</ng-form>
					</div>
					</div>
				</form>
			</div>
			<div class="register-bottom">
				<hr>
				<div class="register-button-container text-center">
					<button ng-click="signupCtrl.previousPart()" class="btn btn-secondary" ng-disabled="!signupCtrl.isPrevious">Anterior</button>
					<button ng-click="signupCtrl.nextPart()" class="btn" ng-class="signupCtrl.isLast ? 'btn-success' : 'btn-primary'">{[{ signupCtrl.nextText }]}
					</button>
				</div>
			</div>			
		</div>
	</div>
	
	<script type="text/javascript" src="{% static 'app/libs/tether/dist/js/tether.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/popper.js/dist/umd/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'app/libs/select/select.js' %}"></script>
	<script type="text/javascript">
		$(".extendSelect").extendSelect();
	</script>

</body>
</html>

