{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="comment-tb-container">
	<div class="comment-tb-content">
		<h3 class="tb-title">Caja de herramientas 1</h3>
		<hr>

		<div class="tb-comment">
			<div class="alert alert-info">
				{% if comment %}
					<h5>Comentarios del administrador</h5>
					<br>
					{{ comment|safe }}		
				{% else %}
					<h5>Sin comentarios del administrador</h5>
				{% endif %}				
			</div>
		</div>

		<hr>
		<h4 class="tb-user">Tus respuestas</h4>
		<br>

		{% for question in questions %}

			{% with answer=answers|get_list_item:forloop.counter %}

				{% if question.q_type == 'TEMP_TEST' %}

					<div class="tb-question-text">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Abierta</p>
						<div class="alert alert-light">
							<p><strong>Pregunta:</strong></p>
							<p>{{ question.content }}</p>
						</div>
						<div class="alert alert-secondary">
							<p><strong>Respuesta:</strong></p>
							<p>{{ answer.answer }}</p>
						</div>						
					</div>
					<hr>

				{% elif question.q_type == 'TEMP_TEST_IMAGE' %}

					<div class="tb-question-image">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Abierta con imagen</p>
						<div class="alert alert-light">
							<p><strong>Imagen:</strong></p>
							<div class="text-center">
								<img src="{{ question.img }}">
							</div>
							<p><strong>Pregunta:</strong></p>
							<p>{{ question.content }}</p>
						</div>
						<div class="alert alert-secondary">
							<p><strong>Respuesta:</strong></p>
							<p>{{ answer.answer }}</p>
						</div>						
					</div>
					<hr>

				{% elif question.q_type == 'TEMP_FILL_THE_BLANKS' %}

					<div class="tb-question-multiple">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Completar el texto</p>
						<div class="alert alert-light">
							<p><strong>Frase correcta</strong></p>
							<p>{{ question.fill_answer }}</p>		
						</div>
						<div class="alert alert-secondary">
							<p><strong>Respuesta</strong></p>
							<p>{{ answer.answer }}</p>
						</div>						
					</div>
					<hr>

				{% elif question.q_type == 'TEMP_ACTIVITY' %}

					<div class="tb-question-activity">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Sopa de letras</p>
						<div class="alert alert-success">
							<p class="text-center">Resuelta</p>
						</div>
					</div>
					<hr>

				{% elif question.q_type == 'TEMP_TEST_MULTIPLE' %}

					<div class="tb-question-multiple">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Selección múltiple - Única respuesta</p>
						<div class="alert alert-light">
							<p><strong>Pregunta</strong></p>
							<p>{{ question.content }}</p>
							<p><strong>Opciones</strong></p>
							<p>{{ question.answers_av }}</p>	
							<p><strong>Respuesta correcta</strong></p>
							<p>Opción {{ option_letters|get_item:question.correct_answer }}</p>	
						</div>
						<div class="alert alert-secondary">
							<p><strong>Respuesta</strong></p>
							<p>Opción {{ option_letters|get_item:question.correct_answer }}</p>
						</div>						
					</div>
					<hr>

				{% elif question.q_type == 'TEMP_CROSSWORD' %}

					<div class="tb-question-activity">
						<h5 class="question-title">Pregunta {{ forloop.counter }}</h5>
						<p>Tipo: Crucigrama</p>
						<div class="alert alert-success">
							<p class="text-center">Resuelta</p>
						</div>
					</div>
					<hr>

				{% endif %}
			{% endwith %}
		{% endfor %}

	</div>
</div>

{% endblock %}