texts-color = #484848
shadow-color = rgba(0,0,0,.26)
icon-gray-color = rgba(0,0,0,.26)
links-color = #008489
blocks-background = #f7f7f7
primary-color = #008489

body
	background-color #fff

nav
	border-bottom 1px solid #bdbdbd
	
	a
		color rgba(0,0,0,.54)
	
	a:hover
		color #212121

header
	box-shadow 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)



.con-footer-pinfo
	background-color #303c42
	height auto
	display flex
	align-items center
	justify-content center
	flex-direction row
	padding-left 1.2%
	
	.gallery-container
		padding 1em
		max-width 1760px
		
		@media (max-width 575.99px)
			padding 0px !important
	
		figure
			width 14.7%
			margin-right 1.66666666667%
			

			@media (max-width 575.99px)
				margin-right 0% !important
				width 100%

			// Small devices (landscape phones, 576px and up)
			@media (min-width 576px)
				margin-right 2% !important
				width 47% !important
				

			// Medium devices (tablets, 768px and up)
			@media (min-width 768px)
				margin-right 2.7% !important
				width 30% !important

			// Extra large devices (large desktops, 1200px and up)
			@media (min-width 1200px)
				width 18% !important
				margin-right 1.6% !important
				

			figcaption
				background-color rgba(0,0,0,.3) !important
	

[class*=" imghvr-"], 
[class^="imghvr-"]
	background-color transparent !important
	
	img
		width 100% !important

.con-footer-secondary
	background-color #455a64
	height 60px

.subheader
	height 220px
	display flex
	justify-content center
	align-items center

	.subheader-c
		display flex
		justify-content center
		align-items center
		max-width 1400px
		padding 10px
		
		.sub-content
			display flex
			justify-content center
			flex-direction column
			
			h4
				color texts-color
				font-weight 300
				font-size 29px
				
				span
					font-weight 700
			
			.search-box
				border 1px solid icon-gray-color
				margin-top 1em
				padding 5px 10px
				width 100%
				
				.input-box
					border none
					color texts-color
					width 90%
				
				svg
					color icon-gray-color
					
				





