texts-color = #484848
shadow-color = rgba(0,0,0,.26)
icon-gray-color = rgba(0,0,0,.26)
links-color = #008489
dark-links-color = #007478
blocks-background = #f7f7f7
primary-color = #008489

body
	background-color #fff

nav
	border-bottom 1px solid #bdbdbd
	
	a
		color rgba(0,0,0,.54)
	
	a:hover
		color #212121

header
	box-shadow 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)

ul
	list-style-type none
	padding-left 0


.nav-c
	display flex
	justify-content center
	
	nav
		max-width 1760px
		
		@media (max-width 767.99px)
			display none
	
	.nav-mobile
		display flex
		width 100%
		
		@media (min-width 768px)
			display none
		
		.menu-list
			display none
			/*-webkit-transition max-height 1s 
			-moz-transition max-height 1s 
			-ms-transition max-height 1s 
			-o-transition max-height 1s 
			transition max-height 1s*/
		
		button
			height 43px
			width 43px

			
			svg
				font-size 25px
				height 100%
				width 100%
		
		ul
			width 100%
			
			li
				padding 8px
				border 1px solid shadow-color
				height 43px
				font-size 15px
			
			li:hover
				background-color links-color
				color #ffff
				
		
		/*@media (max-width 767.99px)
			display flex*/
	
	.nav-mobile.active
		.menu-list
			display flex
			flex-direction column
			

				
		

.con-footer-pinfo
	background-color #303c42
	height auto
	display flex
	align-items center
	justify-content center
	flex-direction row
	padding-left 1.2%
	
	.gallery-container
		padding 1em
		max-width 1760px
		
		@media (max-width 575.99px)
			padding 0px !important
	
		figure
			width 14.7%
			margin-right 1.66666666667%
			

			@media (max-width 575.99px)
				margin-right 0% !important
				width 100%

			// Small devices (landscape phones, 576px and up)
			@media (min-width 576px)
				margin-right 2% !important
				width 47% !important
				

			// Medium devices (tablets, 768px and up)
			@media (min-width 768px)
				margin-right 2.7% !important
				width 30% !important

			// Extra large devices (large desktops, 1200px and up)
			@media (min-width 1200px)
				width 18% !important
				margin-right 1.6% !important
				

			figcaption
				background-color rgba(0,0,0,.3) !important
	

[class*=" imghvr-"], 
[class^="imghvr-"]
	background-color transparent !important
	
	img
		width 100% !important

.con-footer-secondary
	background-color #455a64
	height 60px

.subheader
	background-image url('img/header.jpg')
	height 220px
	display flex
	justify-content center
	align-items center

	.subheader-c
		display flex
		justify-content center
		align-items center
		max-width 1400px
		padding 10px
		
		.sub-content
			display flex
			justify-content center
			flex-direction column
			
			h4
				color #ffffffe6
				font-weight 300
				font-size 29px
				
				@media (max-width 575.99px)
					text-align center
				
				span
					font-weight 700
			
			.search-box
				border 1px solid #fffc
				margin-top 1em
				padding 5px 10px
				width 100%
				
				.input-box
					background transparent
					border none
					color #fff
					width 90%
				
				svg
					color #fffc

.secondary-nav
	background-color #333
	display flex
	justify-content center
	
	.sec-nav-c
		max-width 800px
		overflow-x scroll
		width 100%
	
		ul
			min-width 340px
			display flex
			align-items center
			justify-content center
			
			padding 18px
			margin 0
			
			@media (max-width 400px)
				padding-left 120px !important
			
			@media (max-width 575.99px)

				li.large-li
					min-width 126px
				li.medium-li
					min-width 70px
			
			li
				margin-right 2.5%
				
				
					
				
				a
					color #bbb
				
			
			li.active
				a
					color #fff !important
				
		

		

	
					
				





