.guides-container
	display flex
	padding 80px
	justify-content center
	min-height 600px
	
	@media(max-width 567.99px)
		padding 40px !important
	
	.guides-wrapper
		display flex
		flex-wrap wrap
		max-width 1200px
		width 100%
	
		.guide
			background #fff
			box-shadow 0 0 10px rgba(0,0,0,.15)
			margin-right 3%
			padding 20px
			display flex
			flex-direction column
			align-items center
			justify-content center
			width 31.333%
			max-height 300px
			
			h5
				font-weight 500
				text-align center
			
			p
				text-align center
				font-weight 300
			
			button
				background links-color
				width 200px
			
			@media(max-width 991.99px)
				margin-top 1em
				width 47% !important
				
				.second-g
					margin-right 0 !important
					
			@media(max-width 768.77px)
				margin-right 0 !important
				margin-top 1.5em !important
				width 100% !important

		.last-g
			margin-right 0 !important
			
		

			

	