.gral-d-container
    background-color #f7f7f7
    .document-container
        display flex
        flex-direction column
        padding-top 5em
        padding-bottom 5em
        max-width 900px
        margin auto
        .document-item
            box-shadow 0 2px 5px 0 rgba(0,0,0,0.26)
            padding 30px 45px
            display flex
            justify-content space-between
            flex-direction row
            justify-content space-between
            padding-top 2em
            padding-bottom 2em
            width 100%
            margin 10px 0px
            div
                display flex
            div:nth-child(1)
                flex-direction column
                justify-content center
                h4
                    color #008489
                    font-weight 400
                p
                    margin 0px
            div:nth-child(2)
                margin-left 20px
                align-items center
                a
                    color #fc0f1a
                a:hover
                    color #c30b15
                    
        @media (max-width: 767.99px)
            margin 0px 30px
            .document-item
                flex-direction column
                div:nth-child(2)
                    margin auto
                    margin-top 25px
                
            
            