
.guides-body
	background-color #f0f0f0

.footer-guide
	box-shadow 0 0 10px rgba(0,0,0,.15)
	background-color #e7e7e7
	display flex
	justify-content center
	height 150px
	margin-top auto
	bottom 0
	position absolute
	transition 0.5s all
	width 100%
	
	.footer-w
		display flex
		align-items center
		justify-content center
		height 100%
		width 100%
		max-width 1000px
		
		p
			color #fff
			align-self center
			font-size 24px
			margin-left auto
		
		button
			padding 12px 30px
			border-radius 25px
		
		.back-btn
			margin-right auto
		
		.next-btn
			margin-left auto
		
		.next-btn-feedback
			background #fff !important
			color texts-color
			
	
.footer-guide.good-answer
	background-image linear-gradient(90deg, #82dd00, #37ba00)

.footer-guide.bad-answer
	background-image linear-gradient(90deg, #f68c8c, red)
	
.top-menu
	position relative
	margin-top 3em
	display flex
	justify-content center

	.h-guide-state
		position absolute
		top 16px
		height 2px
		background-color red
		width 50%
		left 0
		right 0
		margin auto
		
	.top-menu-w
		align-items center
		display flex
		max-width 1000px
		width 100%
		
		svg
			color texts-color
			height 25px
			width 25px
			margin-right 5px
		
		.loader-c
			position relative
			width 97%
			height 1px
			
			hr
				position absolute
			
			.total
				background-color #cecece
				top -16px
				height 100%
				width 100%
			
			.current
				background-color #37ba00
				background-image linear-gradient(90deg,#82dd00,#37ba00)
				height 300%
				top -17px
				width 0
				transition 0.6s all
		
		.decor
			background texts-color
			height 7px
			width 7px

.gmain-content
	position absolute
	margin auto
	top -10%
	left 0
	right 0
	bottom 0
	height 500px
	width 1000px
	
	.gmain-wrapper
		align-items center
		position relative
		display flex
		justify-content center
		height 100%
		width 100%
		
		.compressed
			max-width 700px

		.guide-title
			text-align center
			
			h1
				color texts-color
				font-size 35px
				font-weight 700
			
			h2
				color texts-color
				font-size 28px
				font-weight 400
			
			button
				font-size 19px
				height 50px
				width 200px
				margin-top 3em
		
		.guide-fill
			.blanks_cont
				display flex
				flex-wrap wrap
				line-height 2.5
				
				select
					margin 0 15px
					width 100px !important
			
				
		.guide-intro
			background-color #fff
			padding 40px 40px
			border-radius 60px

			h2
				font-weight 700
				text-align center
			
			h1
				font-weight 300
				font-size 36px
				text-align center
				color #7b7b7b
		
		.guide.ng-enter
			transition all ease-in 0.5s
			opacity  0
		
		.guide.ng-enter-active
			opacity 1
		
		.guide.ng-leave.ng-leave-active
			opacity 0

		.guide-test
			width 100%
			
			h2
				font-weight 300

			textarea
				margin-top 2em
				width 100%
		
			
		.guide-test-img
			width 100%
			
			h2
				font-weight 300
				font-size 21px
			
			.guide-image
				display flex
				justify-content center
				margin-bottom 1em
			
				
			textarea
				margin-top 2em
				width 100%

		
		.guide-text
			width 100%
			
			p
				font-size 19px
				font-weight 300
				margin-top 1.5em
				
				span
					font-weight 500
					font-size 22px
				
				.final-text
					font-size 26px
				
				.final-desc
					font-weight 300
			
			p.final-p
					text-align center
		
		.wordsearch
			display flex
			justify-content center
		
		.guide-question-multiple
			
			h2
				color texts-color
				font-size 26px
				text-align center
			
			.answers-w
				display flex
				flex-direction column
				
				.answers
					background #fff
					border 2px solid #e9e9e9
					padding 10px
					width 250px
					
				a
					text-decoration none
					color texts-color
				
				a:hover
					background #e9e9e9
					
				a.good-answer
					background #a8d2a8 !important
				
				a.bad-answer 
					background #f68c8c !important
				
				.top-answers
					display flex
					margin-top 3em
					
					.ans-1
						margin-right auto
					
					.ans-2
						margin-left auto
						
				.bottom-answers
					display flex
					margin-top 1em
					
					.ans-3
						margin-right auto
					
					.ans-4
						margin-left auto

					
					
				

				
		
	
	

	

		



	


	