
.footer-guide
	box-shadow 0 0 10px rgba(0,0,0,.15)
	background-color #e7e7e7
	display flex
	justify-content center
	height 150px
	margin-top auto
	bottom 0
	position absolute
	width 100%
	
	.footer-w
		display flex
		align-items center
		justify-content center
		height 100%
		width 100%
		max-width 1000px
		
		.back-btn
			margin-right auto
		
		.next-btn
			margin-left auto
	
.top-menu
	position relative
	margin-top 3em
	display flex
	justify-content center
	
	.top-menu-w
		align-items center
		display flex
		max-width 1000px
		width 100%
		
		svg
			color texts-color
			height 25px
			width 25px
			margin-right 5px
		
		hr
			background-color #cecece
			height 1px
			width 97%
		
		.decor
			background texts-color
			height 7px
			width 7px

.content-t
	font-weight 300
	color texts-color
	position absolute
	max-width 800px
	left 0
	right 0
	margin-top 8em
	margin-left auto
	margin-right auto
			

	

		



	


	