.p-container
	margin-top 3em
	padding-left 80px
	padding-right 80px
	
	@media (max-width 991.99px)
		padding-left 40px !important
		padding-right 40px !important

.exp-section
	display flex
	justify-content center
	
	.exp-gra-c
		max-width 1760px
		width 100%
	
		.exp-section-title
			color texts-color
			font-size 26px
			

		.experiences-c
			display flex
			flex-direction row
			flex-wrap wrap
			justify-content flex-start
			margin-top -0.5em
			margin-left 15px

			.experience
				box-shadow 0 2px 5px 0 shadow-color
				margin-top 1.7em
				height auto
				margin-right 1.66666666667%
				width 15%
				
				@media (max-width 575.99px)
					margin-right 1.66666666667%
					width 95%

				@media (min-width 576px)
					margin-right 1.66666666667%
					width 95%
					
				// Medium devices (tablets, 768px and up)
				@media (min-width 768px)
					margin-right 2% !important
					width 48% !important

				// Large devices (desktops, 992px and up)
				@media (min-width 992px)
					margin-right 3.333% !important
					width 30% !important

				// Extra large devices (large desktops, 1200px and up)
				@media (min-width 1200px)
					margin-right 2% !important
					width 23% !important

				@media(min-width 1800px)
					margin-right 1.66666666667% !important;
					width 15% !important
					
				
				img 
					width 100%
				
				.exp-data
					padding-left 8px
					padding-right 8px
					padding-bottom 10px				
					
					.detail-c
						padding-left 12px
						padding-right 12px
				
						.popular-data-c
							display flex
							margin-bottom 0.3em
							margin-top 0.4em
							font-weight 300
							
							svg
								color links-color
							
							.views 
								flex-basis 30%
							
						.exp-title
							margin-top 0.3em
							
							a
								font-size 17px
								font-weight 700
								max-height 26px
								text-overflow ellipsis
								color texts-color
								
						
						.content-c 
							p
								font-weight 300
								max-height 70px
								text-overflow ellipsis
								overflow hidden
						
						.publisher
							font-weight 300
							font-size 15px
							color texts-color
							
							svg
								margin-right 5px

		.more-exp
			display flex
			justify-content flex-start
			font-size 18px
			margin-top 2.5em
			margin-left 15px
			
			a
				color links-color	
			
			i
				font-size 17px


.forum-section
	margin-top 3.2em
	display flex
	justify-content center
	
	.for-gra-c
		max-width 1760px
		width 100%
	
	.for-section-title
		font-size 26px
		color texts-color
	
	.forum-c
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin-top 0.2em
		margin-left 15px
		
		.f-aside
			display flex
			flex-direction column
			margin-top 2em
			width 20%
			
			@media (max-width: 575.99px)
				margin-right 1.66666666667%
				width 97% !important
				
			@media (max-width 768px)
				margin-right 0% !important
				width 97% !important
				
			@media (min-width 768px)
				margin-right 0% !important
				width 97% !important

			@media (min-width 992px)
				margin-right 3% !important
				width 47% !important
				
			// Extra large devices (large desktops, 1200px and up)
			@media (min-width 1200px)
				margin-right 2% !important
				width 48% !important
			
			@media(min-width 1760px)
				margin-right 3.33% !important
				width 20% !important
			
			.forum-invitation
				border 2px solid #dadada
				padding 25px
				text-align center
				width 100%
				
				h5
					font-weight 500
				
				p
					font-weight 300
				
				button 
					background-color links-color
			
		
		.forum
			box-shadow 0 2px 5px 0 shadow-color
			padding 30px 25px
			margin-right 3.33%
			margin-top 2em
			width 35%
			
			@media (max-width: 575.99px)
				margin-right 1.66666666667%
				width 95%

				.forum-item
					flex-direction column
					margin-bottom 2em !important
					
					.f-image
						display flex
						justify-content center
						margin-right 0px !important
					
					.forum-inline
						margin-top 1em !important
						
						.for-data
							flex-direction column !important
							
							a
								text-align center
							
							.comment-c
								width 45px !important


			@media (max-width 768px)
				margin-right 0% !important
				width 97% !important
				
			@media (min-width 768px)
				margin-right 0% !important
				width 97% !important

			@media (min-width 992px)
				margin-right 3% !important
				width 47% !important
				
			// Extra large devices (large desktops, 1200px and up)
			@media (min-width 1200px)
				margin-right 2% !important
				width 48% !important
			
			@media(min-width 1760px)
				margin-right 3.33% !important
				width 35% !important
				
			
			.f-image
				margin-right 20px
				
			.forum-inline
				width 100%
			
			.forum-item
				display flex
				flex-grow 2
				margin-bottom 1.5em
			
				.for-data
					display flex
					
					a
						color links-color 
						font-weight 600
						max-width 400px
					
					.comment-c
						position relative
						margin-left auto
						
						@media (max-width 767.99px)
							margin-left inherit !important
						
						svg
							color #9e9e9e
							font-size 40px
							
						.comment-counter
							color #9e9e9e
							font-weight 300
							font-size 15px
							position absolute
							top 7px
							text-align center
							left 0
							right 0
							margin auto
							
				
				.forum-publisher
					.f-date
						margin-bottom 0
						font-weight 300
						font-size 15px
					
					.f-name 
						margin-bottom 0
						font-weight 300

.more-forum
	display flex
	justify-content flex-start
	font-size 18px
	margin-top 1.5em
	margin-left 15px
	
	a
		color links-color	
	
	i
		font-size 17px

				
.block-expl
	background-color blocks-background
	display flex
	align-items center
	justify-content center
	height auto
	min-height 400px
	margin-top 3.5em
	padding 20px
	
	.contact-section
		display flex
		justify-content center
		
		@media (max-width 768px)
			padding-top 2em
			padding-bottom 2em

	.contact-c
		display flex
		flex-direction row
		flex-wrap wrap
		max-width 800px
		width 100%
		
		@media (max-width 575.99px)
			align-items center !important
			width 80%
			
			.left-c
				h4
					font-size 20px
				
				p
					font-size 18px !important
			
			.right-c
				margin-top 2em

		@media (max-width 768px)
			display block !important
			
			.left-c
				p
					max-width 600px !important
			
			.right-c
				margin-top 2em
				
		.right-c
			img
				width 100%
		
		.left-c
			margin-right 30px
			
			h4
				color texts-color
				font-weight 600
			
			p
				font-weight 300
				max-width 300px
				font-size 21px
				color texts-color
				
			
			button
				background-color links-color
				font-size 18px
				padding 10px 25px
		

.start-section
	height 563px
	padding-left 0
	padding-right 0
	margin-right 0
	margin-left 0 
	
	.start-c
		height 100%
		overflow hidden

	.start-content
		position relative
		
		
		.float-content
			position absolute
			top 120px
			left 20%
			
			@media (max-width: 575.99px)

				p
					font-size 40px !important
				
				button
					font-size 17px !important
			
			p
				max-width 300px
				font-weight 700
				font-size 50px
				color texts-color
				line-height 1.2

			button
				background-color links-color
				font-size 20px
				padding 13px 25px
		
			
			
	
	

