.my-exp-c
	background-color blocks-background

.mtb-content
	margin-top 1rem
	.mtb-item		
		padding 15px
		.mtb-item-content
			background-color #fff
			box-shadow 0 0 2px rgba(0,0,0,.14),0 2px 2px rgba(0,0,0,.1)
			transition box-shadow 0.5s
			min-height 200px
			display flex
			justify-content center
			align-items center
			flex-direction column
			color texts-color			
			.mtb-user			
				font-weight 300
				margin-bottom 2rem
			.mtb-title
				font-weight 300
			&:hover
				box-shadow 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.2)
				border 1px #fefefe solid
				cursor pointer
				text-decoration none

.comment-tb-container
	background-color blocks-background
	display flex
	justify-content center
	margin-top 0.5em
	padding-bottom 4em
	padding-left 25px
	padding-right 25px

	.comment-tb-content
		background-color #fff
		padding 30px 45px
		margin-top 3em
		width 100%
		max-width 900px
		box-shadow 0 2px 5px 0 shadow-color

		hr
			margin-top 5em
			margin-bottom 5em

	.question-title
		font-weight 300

.alert-secondary
	color #383d41
	background-color #e2e3e5
	border-color #d6d8db

.alert-light
	color #818182
	background-color #fefefe
	border-color #fdfdfe