.my-comments-c
	background-color blocks-background
	display flex
	justify-content center
	padding 3em 40px
	
	.my-com-wrapper
		max-width 800px
		width 100%
		
		h3
			font-weight 300
			font-size 25px
		
		hr
			width 100%
			margin-top 0.2em
			margin-bottom 1.5em
		
		.mcomment
			background-color #fff
			box-shadow 0 2px 5px 0 shadow-color
			padding 20px 25px
			margin-top 1em
			
			.content
				font-weight 300				
				color texts-color
			
			h5
				font-size 16px
				color texts-color
				font-weight 500
				margin-top 1em

			.com-forum
				color texts-color
				margin 0
				padding 0
				font-weight 300
				
				span
					background-color links-color
					font-size 15px
					font-weight 500
					color #fff
					padding 8px
					
			
	

	