.my-exp-c
	display flex
	justify-content center
	padding 3em 40px
	
	.my-exp-wrapper
		max-width 1000px
		width 100%
		
		h3
			font-weight 300
			font-size 25px
			color texts-color
		
		hr
			margin-top 0.2em
			margin-bottom 1.2em
			width 100%
			

		.my-exp-content
			display flex
			flex-wrap wrap
		
			.mexperience
				position relative
				display flex
				flex-direction column
				justify-content space-between
				box-shadow 0 2px 5px 0 shadow-color
				margin-top 1.7em
				height auto
				margin-right 3.33%
				width 30%

				@media (max-width 768px)
					margin-right 3% !important
					width 47% !important
				
				@media (max-width 575.99px)
					width 100% !important
					margin-right 0 !important
				
				img 
					width 100%
				
				.exp-data
					padding-left 8px
					padding-right 8px
					padding-bottom 10px				
					
					.detail-c
						padding-left 12px
						padding-right 12px
				
						.popular-data-c
							display flex
							margin-bottom 0.3em
							margin-top 0.4em
							font-weight 300
							
							svg
								color links-color
							
							.views 
								flex-basis 30%
							
						.exp-title
							font-size 17px
							font-weight 700
							margin-top 0.5em
							color texts-color
							
							a
								color texts-color
						
						.content-c 
							p
								height 70px 
								overflow hidden
								font-weight 300
						
						.publisher
							font-weight 300
							color texts-color
							
						.e-more
							margin-top 1em
							display flex
														
							a
								text-align center
								width 100%	
				.exp-footer
					border-bottom-left-radius 5px
					border-bottom-right-radius 5px
					padding 10px
					width 100%
					text-align center			
					h1,
					h2,
					h3,
					h4,
					h5
						font-weight 300
						color white
						margin-bottom 0

				.exp-delete
					top 5px
					right 5px
					position absolute
					cursor pointer
					.fa-trash-alt:hover
						color #d9534f