.profile-c
	display flex
	justify-content center
	margin 3em 0
	
	.profile-wrapper
		display flex
		max-width 1000px
		width 100%
		
		.profile-nav
			margin-right 2%
			width 15%
			
			ul
				display flex
				flex-direction column

				li
					margin-top 0.5em
					
					a
						font-weight 300
						font-size 15px
						color texts-color
		
		.profile-content
			width 83%
			
			.prof-info-c
				border 1px solid icon-gray-color
				min-height 400px

				.prof-header
					width 100%
					padding 15px 20px
					background-color blocks-background
					border-bottom 1px solid icon-gray-color
					
					p
						padding-bottom 0
						margin-bottom 0
					
				.prof-content
					padding 30px 20px
					width 100%
					
			

		