/*

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

[ng\:cloak],
[ng-cloak],
.ng-cloak 
	display none !important

.register-error-messages
	position absolute
	left 20px
	p
		font-size 12px
		color red

.register-container

	@media (min-width 768px)
		background-image url('img/background.jpg')
		min-height 100vh
		background-size cover
		display flex
		flex-direction column	

		&::before,&::after
			box-flex 1
			flex-grow 1
			content ''
			display block
			height 24px
		&::before
			min-height 30px

	.register-box

		width 100%
		flex-shrink 0
		box-shadow 0 4px 4px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
		margin 0 auto
		background white
		padding 25px
		padding-top 20px
		padding-bottom 20px
		min-height 100vh
		display flex
		flex-direction column
		justify-content space-between

		@media (min-width 768px)
			width 60%
			max-width 450px
			min-height 600px
			max-height 90vh

		@media (min-width: 992px)
			width 70%
			max-width 600px

		.register-logo
			height 80px
			margin-bottom 0.5rem

		.register-section-container
			display flex
			align-items center
			justify-content center
			min-height 270px
			overflow hidden
			position relative

		.register-section		
			&.ng-hide-add,
			&.ng-hide-remove
				-webkit-transition  0.5s ease-in-out opacity
			    -moz-transition     0.5s ease-in-out opacity
			    -ms-transition      0.5s ease-in-out opacity
			    -o-transition       0.5s ease-in-out opacity
			    transition          0.5s ease-in-out opacity
			    opacity             1
			&.ng-hide-remove-active				
				transition-delay 0.5s
			&.ng-hide
				opacity 0
			&.ng-hide-animate
				position absolute
				//width 100%			
				//z-index -1

		.register-state-container

			display flex
			justify-content center			

			.register-state-circle				
				width 10px
				height 10px
				margin-left 5px
				margin-right 5px
				background-color shadow-color
				&.active
					background-color primary-color		

		.register-yesno
			display flex
			list-style-type none
			padding-left 0
			justify-content center
			align-items center
			margin-bottom .5rem
			li				
				margin-left 10px
				margin-right 10px
				label
					display flex
					justify-content center
					align-items center
					input[type=radio]
						margin-bottom 0
						margin-right 5px

		textarea
			resize none

.was-validated
	.ng-invalid
		border-color #dc3545
	.ng-valid:not(.ng-empty)
		border-color #28a745
