body {
  background-color: #fff;
}
nav {
  border-bottom: 1px solid #bdbdbd;
}
nav a {
  color: rgba(0,0,0,0.54);
}
nav a:hover {
  color: #212121;
}
header {
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
.con-footer-pinfo {
  background-color: #303c42;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.con-footer-pinfo figure {
  width: 16.6%;
  max-width: 300px;
  margin-right: 10px;
}
.con-footer-pinfo figure figcaption {
  background-color: rgba(0,0,0,0.3) !important;
}
[class*=" imghvr-"],
[class^="imghvr-"] {
  background-color: transparent !important;
}
.con-footer-secondary {
  background-color: #455a64;
  height: 60px;
}
.subheader {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subheader .subheader-c {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 10px;
}
.subheader .subheader-c .sub-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subheader .subheader-c .sub-content h4 {
  color: #484848;
  font-weight: 300;
  font-size: 29px;
}
.subheader .subheader-c .sub-content h4 span {
  font-weight: 700;
}
.subheader .subheader-c .sub-content .search-box {
  border: 1px solid rgba(0,0,0,0.26);
  margin-top: 1em;
  padding: 5px 10px;
  width: 100%;
}
.subheader .subheader-c .sub-content .search-box .input-box {
  border: none;
  color: #484848;
  width: 90%;
}
.subheader .subheader-c .sub-content .search-box svg {
  color: rgba(0,0,0,0.26);
}
@media (min-width: 576px) {
  .login-container {
    background-image: url("img/background.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .login-container::before,
  .login-container::after {
    box-flex: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
  }
  .login-container::before {
    min-height: 30px;
  }
}
.login-container .login-box {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  min-height: 500px;
  margin: 0 auto;
  flex-direction: row;
}
@media (min-width: 576px) {
  .login-container .login-box {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .login-container .login-box {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .login-container .login-box {
    width: 900px;
  }
}
.login-container .login-box .login-dec {
  display: none;
}
@media (min-width: 768px) {
  .login-container .login-box .login-dec {
    display: block;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 65%;
    padding: 20px 20px;
    background-color: rgba(254,254,254,0.2);
  }
  .login-container .login-box .login-dec h1,
  .login-container .login-box .login-dec h2,
  .login-container .login-box .login-dec h3,
  .login-container .login-box .login-dec h4,
  .login-container .login-box .login-dec h5 {
    font-weight: 300;
    color: #fff;
  }
}
.login-container .login-box .login-form {
  background: #fff;
  padding: 28px 30px;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
@media (min-width: 576px) {
  .login-container .login-box .login-form {
    min-height: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}
@media (min-width: 768px) {
  .login-container .login-box .login-form {
    width: 35%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.login-container .login-box .login-form input[type=text],
.login-container .login-box .login-form input[type=password],
.login-container .login-box .login-form input[type=submit] {
  width: 100%;
}
.login-container .login-box .login-form .login-logo {
  width: 100%;
  margin-bottom: 2em;
}
.login-container .login-box .login-form .form-group {
  margin-bottom: 1em;
}
.login-container .login-box .login-form .forgot-password {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0%;
}
.p-container {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 991.99px) {
  .p-container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
.exp-section .exp-section-title {
  color: #484848;
  font-size: 26px;
  margin-top: 1em;
}
.exp-section .experiences-c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -0.5em;
  max-width: 1760px;
  margin-left: 15px;
}
.exp-section .experiences-c .experience {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  margin-top: 1.7em;
  height: auto;
  margin-right: 1.66666666667%;
  width: 15%;
}
@media (max-width: 575.99px) {
  .exp-section .experiences-c .experience {
    margin-right: 1.66666666667%;
    width: 95%;
  }
}
@media (min-width: 576px) {
  .exp-section .experiences-c .experience {
    margin-right: 1.66666666667%;
    width: 95%;
  }
}
@media (min-width: 768px) {
  .exp-section .experiences-c .experience {
    margin-right: 2% !important;
    width: 48% !important;
  }
}
@media (min-width: 992px) {
  .exp-section .experiences-c .experience {
    margin-right: 3.333% !important;
    width: 30% !important;
  }
}
@media (min-width: 1200px) {
  .exp-section .experiences-c .experience {
    margin-right: 2% !important;
    width: 23% !important;
  }
}
@media (min-width: 1800px) {
  .exp-section .experiences-c .experience {
    margin-right: 1.66666666667% !important;
    width: 15% !important;
  }
}
.exp-section .experiences-c .experience img {
  width: 100%;
}
.exp-section .experiences-c .experience .exp-data {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
}
.exp-section .experiences-c .experience .exp-data .detail-c {
  padding-left: 12px;
  padding-right: 12px;
}
.exp-section .experiences-c .experience .exp-data .detail-c .popular-data-c {
  display: flex;
  margin-bottom: 0.3em;
  margin-top: 0.4em;
  font-weight: 300;
}
.exp-section .experiences-c .experience .exp-data .detail-c .popular-data-c svg {
  color: #008489;
}
.exp-section .experiences-c .experience .exp-data .detail-c .popular-data-c .views {
  flex-basis: 30%;
}
.exp-section .experiences-c .experience .exp-data .detail-c .exp-title {
  font-size: 17px;
  font-weight: 700;
  margin-top: 0.3em;
  color: #484848;
}
.exp-section .experiences-c .experience .exp-data .detail-c .content-c p {
  font-weight: 300;
}
.exp-section .experiences-c .experience .exp-data .detail-c .publisher {
  font-weight: 300;
  color: #484848;
}
.exp-section .more-exp {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-top: 2.5em;
  margin-left: 15px;
}
.exp-section .more-exp a {
  color: #008489;
}
.exp-section .more-exp i {
  font-size: 17px;
}
.forum-section {
  margin-top: 3.2em;
  max-width: 1760px;
}
.forum-section .for-section-title {
  font-size: 26px;
  color: #484848;
}
.forum-section .forum-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.2em;
  margin-left: 15px;
}
.forum-section .forum-c .f-aside {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 20%;
}
@media (max-width: 575.99px) {
  .forum-section .forum-c .f-aside {
    margin-right: 1.66666666667%;
    width: 97% !important;
  }
}
@media (max-width: 768px) {
  .forum-section .forum-c .f-aside {
    margin-right: 0% !important;
    width: 97% !important;
  }
}
@media (min-width: 992px) {
  .forum-section .forum-c .f-aside {
    margin-right: 3% !important;
    width: 47% !important;
  }
}
@media (min-width: 1200px) {
  .forum-section .forum-c .f-aside {
    margin-right: 2% !important;
    width: 48% !important;
  }
}
@media (min-width: 1760px) {
  .forum-section .forum-c .f-aside {
    margin-right: 3.33% !important;
    width: 20% !important;
  }
}
.forum-section .forum-c .f-aside .forum-invitation {
  border: 2px solid #dadada;
  padding: 25px;
  text-align: center;
  width: 100%;
}
.forum-section .forum-c .f-aside .forum-invitation h5 {
  font-weight: 500;
}
.forum-section .forum-c .f-aside .forum-invitation p {
  font-weight: 300;
}
.forum-section .forum-c .f-aside .forum-invitation button {
  background-color: #008489;
}
.forum-section .forum-c .forum {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 30px 25px;
  margin-right: 3.33%;
  margin-top: 2em;
  width: 35%;
}
@media (max-width: 575.99px) {
  .forum-section .forum-c .forum {
    margin-right: 1.66666666667%;
    width: 95%;
  }
  .forum-section .forum-c .forum .forum-item {
    flex-direction: column;
    margin-bottom: 2em !important;
  }
  .forum-section .forum-c .forum .forum-item .f-image {
    display: flex;
    justify-content: center;
    margin-right: 0px !important;
  }
  .forum-section .forum-c .forum .forum-item .forum-inline {
    margin-top: 1em !important;
  }
  .forum-section .forum-c .forum .forum-item .forum-inline .for-data {
    flex-direction: column !important;
  }
  .forum-section .forum-c .forum .forum-item .forum-inline .for-data a {
    text-align: center;
  }
  .forum-section .forum-c .forum .forum-item .forum-inline .for-data .comment-c {
    width: 45px !important;
  }
}
@media (max-width: 768px) {
  .forum-section .forum-c .forum {
    margin-right: 0% !important;
    width: 97% !important;
  }
}
@media (min-width: 768px) {
  .forum-section .forum-c .forum {
    margin-right: 0% !important;
    width: 97% !important;
  }
}
@media (min-width: 992px) {
  .forum-section .forum-c .forum {
    margin-right: 3% !important;
    width: 47% !important;
  }
}
@media (min-width: 1200px) {
  .forum-section .forum-c .forum {
    margin-right: 2% !important;
    width: 48% !important;
  }
}
@media (min-width: 1760px) {
  .forum-section .forum-c .forum {
    margin-right: 3.33% !important;
    width: 35% !important;
  }
}
.forum-section .forum-c .forum .f-image {
  margin-right: 20px;
}
.forum-section .forum-c .forum .forum-item {
  display: flex;
  flex-grow: 2;
  margin-bottom: 1.5em;
}
.forum-section .forum-c .forum .forum-item .for-data {
  display: flex;
}
.forum-section .forum-c .forum .forum-item .for-data a {
  color: #008489;
  font-weight: 600;
  max-width: 400px;
}
.forum-section .forum-c .forum .forum-item .for-data .comment-c {
  position: relative;
}
.forum-section .forum-c .forum .forum-item .for-data .comment-c svg {
  color: #9e9e9e;
  font-size: 40px;
}
.forum-section .forum-c .forum .forum-item .for-data .comment-c .comment-counter {
  color: #9e9e9e;
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  top: 7px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
.forum-section .forum-c .forum .forum-item .forum-publisher .f-date {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 15px;
}
.forum-section .forum-c .forum .forum-item .forum-publisher .f-name {
  margin-bottom: 0;
  font-weight: 300;
}
.more-forum {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-top: 1.5em;
  margin-left: 15px;
}
.more-forum a {
  color: #008489;
}
.more-forum i {
  font-size: 17px;
}
.block-expl {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 400px;
  margin-top: 3.5em;
  padding: 20px;
}
.block-expl .contact-section {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .block-expl .contact-section {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.block-expl .contact-c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}
@media (max-width: 575.99px) {
  .block-expl .contact-c {
    align-items: center !important;
    width: 80%;
  }
  .block-expl .contact-c .left-c h4 {
    font-size: 20px;
  }
  .block-expl .contact-c .left-c p {
    font-size: 18px !important;
  }
}
@media (max-width: 768px) {
  .block-expl .contact-c {
    display: block !important;
  }
  .block-expl .contact-c .left-c p {
    max-width: 600px !important;
  }
  .block-expl .contact-c .right-c {
    margin-top: 2em;
  }
}
.block-expl .contact-c .right-c img {
  width: 100%;
}
.block-expl .contact-c .left-c {
  margin-right: 30px;
}
.block-expl .contact-c .left-c h4 {
  color: #484848;
  font-weight: 600;
}
.block-expl .contact-c .left-c p {
  font-weight: 300;
  max-width: 300px;
  font-size: 21px;
  color: #484848;
}
.block-expl .contact-c .left-c button {
  background-color: #008489;
  font-size: 18px;
  padding: 10px 25px;
}
.start-section {
  height: 563px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
.start-section .start-c {
  height: 100%;
  overflow: hidden;
}
.start-section .start-content {
  position: relative;
}
.start-section .start-content .float-content {
  position: absolute;
  top: 120px;
  left: 20%;
}
@media (max-width: 575.99px) {
  .start-section .start-content .float-content p {
    font-size: 40px !important;
  }
  .start-section .start-content .float-content button {
    font-size: 17px !important;
  }
}
.start-section .start-content .float-content p {
  max-width: 300px;
  font-weight: 700;
  font-size: 50px;
  color: #484848;
  line-height: 1.2;
}
.start-section .start-content .float-content button {
  background-color: #008489;
  font-size: 20px;
  padding: 13px 25px;
}
@media (min-width: 576px) {
  .register-container {
    background-image: url("img/background.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .register-container::before,
  .register-container::after {
    box-flex: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
  }
  .register-container::before {
    min-height: 30px;
  }
}
.register-container .register-box {
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register-container .register-box .register-section {
  overflow: hidden;
  -moz-transition: 1s ease-in-out opacity;
  -ms-transition: 1s ease-in-out opacity;
  -o-transition: 1s ease-in-out opacity;
  transition: 1s ease-in-out opacity;
  opacity: 1;
}
.register-container .register-box .register-section.ng-hide-add,
.register-container .register-box .register-section.ng-hide-remove {
  -webkit-transition: 1s ease-in-out opacity;
}
.register-container .register-box .register-section.ng-hide {
  opacity: 0;
}
@media (min-width: 576px) {
  .register-container .register-box {
    width: 60%;
    max-width: 450px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .register-container .register-box {
    width: 70%;
    max-width: 600px;
  }
}
.register-container .register-box .register-state-container {
  display: flex;
  justify-content: center;
}
.register-container .register-box .register-state-container .register-state-circle {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0,0,0,0.26);
}
.register-container .register-box .register-state-container .register-state-circle.active {
  background-color: #008489;
}
.register-container .register-box .register-yesno {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}
.register-container .register-box .register-yesno li {
  margin-left: 10px;
  margin-right: 10px;
}
